[2017-02-14 05:00] CK110 opened #3 "can't support table?"

[2017-02-14 07:50] #3 closed

[2017-02-21 19:56] kerrongordon opened #4 "Type 'ErrorObservable' is not generic."
**ERROR**
node_modules/ng2-markdown-to-html/src/app/markdown-to-html/markdown-to-html.service.ts (25,39): Type 'ErrorObservable' is not generic.)

i am getting this error with  **@angular/cli 1.0.0-beta.32.3**
while using the **ng build -prod --aot --verbose**

[2017-02-22 01:10] jfcere commented on #4
Can you tell me which version of angular + angular-cli your are using please? I'll look into it ...

[2017-02-22 01:11] jfcere commented on #4
I'll update angular-cli .. comin back to you!

[2017-02-22 09:01] pmcalabrese commented on #4
same here... when i compile with `--aot`

[2017-02-22 15:04] jfcere commented on #4
@pmcalabrese Thx for the insight i'll make the fix tonight

[2017-02-22 19:56] pmcalabrese commented on #4
@jfcere no problem 👍

[2017-02-23 04:42] jfcere commented on #4
I updated Angular-CLI to 1.0.0-beta.32.3 and solved the typing error when compiling with AoT.
Please upgrade to version 0.0.9 to get the fix.

I'll close the issue, don't hesitate to reopen if there is anything!

[2017-02-23 04:42] #4 closed

[2017-03-23 09:28] pmcalabrese opened #10 "ERROR in /builddir/node_modules/ng2-markdown-to-html/src/app/markdown-to-html/markdown-to-html.component.ts (65,5): 'Prism' refers to a UMD global, but the current file is a module. Consider adding an import instead.)"
I get this error, and the problem seems in the file *ng2-markdown-to-html/src/app/markdown-to-html/markdown-to-html.component.ts* line 65. Prism should be imported, and moreover should be optional in my opinion.

![image](https://cloud.githubusercontent.com/assets/1509241/24240833/3fc73cc0-0fb3-11e7-83f2-60f1d936d6c8.png)

[2017-03-23 15:53] chislin commented on #10
Having the same problem.
[code]

[2017-03-24 08:43] pmcalabrese commented on #10
@chislin I temporary fixed by commenting the line 65.

[2017-03-24 13:12] jfcere commented on #10
Hi guys,

I haven't been able to reproduce the problem with Angular-CLI as I don't see any problem about Prism import as long as I include the typing file.

At first sight, Prism definitely typed file does not export Prism as a module so it is pretty dam hard to import one.

So I guess I would need your help on this one. Could you please ...

1. Try to add this on top of `markdown-to-html.componen

[2017-03-25 15:31] pmcalabrese commented on #10
You can reproduce it by ejecting the webpack config file `ng eject` (https://github.com/angular/angular-cli/wiki/eject) and run `webpack -p`. If you just run `webpack` it will not throw any errors.

[2017-03-26 17:43] jfcere commented on #10
@pmcalabrese thanks, I've been able to reproduce the issue with your instructions.

Turned out `@types/prismjs` was locked by `yarn.lock` on an old version that was missing the namespace export.

I updated the dependency and added the import statement into `markdown-to-html.component.ts` (#11).

Please updade to v1.1.2

[2017-03-27 08:30] pmcalabrese commented on #10
@jfcere thx! it works, this issue can be closed.

[2017-03-27 12:46] #10 closed

[2017-05-27 17:26] yashsriv opened #15 "Support Variable Binding"
If I have a variable `x = "#HelloWorld"`, I'd like to be able to get that rendered too... Its not possible currently.. I tried this:

[code]

[2017-06-01 17:19] jfcere commented on #15
Hi @yashsriv,

Sorry for the delay, I was in Las Vegas for the last few days. You are right this feature is not currently supported by this has been on my plate for a while now ... I'll try to work on it this weekend.

I'll come back to you shortly.

[2017-06-03 18:01] jfcere commented on #15
@yashsriv variable binding has been implemented (#16).

Please update to v1.2.0 to get the new feature.

[2017-06-03 18:01] #15 closed

[2017-06-04 08:56] informaterian opened #17 "Support for xml/html code highlighting"
The Angular template parser seems to try to parse the written code e.g.
[code]
and give an error message that the markdown-to-html tag has been closed already.
And with the following code angular states that "test" is not a known element and suggests to insert the NO_ERRORS_SCHEMA into the module.
[code]

[2017-06-04 09:14] informaterian commented on #17
Comment tags such as `` seem to be ignored as well.

[2017-06-04 10:13] informaterian commented on #17
Workaround:
Include the xml/html code via the `[source]` tag.

[2017-06-12 02:31] jfcere commented on #17
Hi @informaterian,

Markdown can contains HTML and you are right that Angular will definitely try to parse the template. I haven't found any _built-in_ solution yet for this not to happen (any suggestion would be welcome).

Like you said, the best workaround is to use the `[src]` input binding so this way the template won't be parse by Angular template parser

[code]

[2017-06-19 07:47] informaterian opened #20 "Codelyzer in tslint.json not found"
If I run `ng lint` with the angular cli version 1.0.1 i get the following error.
[code]
Changing the path to `../codelyzer` seems to work around the problem but
maybe you have a better solution.

[2017-06-20 13:06] jfcere commented on #20
Hi @informaterian,

I'll take a look and come back to you shortly. If you have a repo I can clone that would be helpfull otherwise can you tell me if you are using Angular-Cli

[2017-06-20 16:38] informaterian commented on #20
Here is a repo that produces that error.
[informaterian/ng2-markdown-test](https://github.com/informaterian/ng2-markdown-test)

[2017-06-28 20:26] yashsriv opened #21 "Lazy Loading Issue"
Hi, I am trying to follow [this](https://coursetro.com/posts/code/68/Make-your-Angular-App-SEO-Friendly-(Angular-4-+-Universal)) guide for implementing Server Side Rendering and I keep encountering an issue on using your module. From issues discussed elsewhere, its probably because your module is lazyLoaded... Any suggestions?

[2017-07-05 23:07] jfcere commented on #20
@informaterian sorry for the delay, I wanted to give you a follow up on the issue.

I will soon publish the package already transpiled to javascript instead of the typescript source and it won't include codelyzer. I just have to run a few tests and update the documentation.

I'll keep you in touch.

[2017-07-05 23:11] jfcere commented on #21
Hi @yashsriv, can you provide more information about the problem? If you have any specific error message or code sample (a repo on github maybe) it would be easier to help.

[2017-07-05 23:18] jfcere commented on #17
I am closing this issue as there is a workaround.

[2017-07-05 23:18] #17 closed

[2017-07-22 19:43] jfcere commented on #21
@yashsriv, library is now transpile to Javascript. Update to [1.3.0](https://github.com/jfcere/ng2-markdown-to-html/releases/tag/v1.3.0) and follow the breaking changes steps to include `marked.js` file to your application. Codelyzer should no longer be an issue.

[2017-07-22 19:44] jfcere commented on #20
@informaterian, library is now transpiled to Javascript. Update to [1.3.0](https://github.com/jfcere/ng2-markdown-to-html/releases/tag/v1.3.0) and follow the breaking changes steps to include `marked.js` file to your application. Codelyzer should no longer be an issue.

[2017-07-24 13:07] jfcere commented on #21
Closing for inactivity, feel free to reopen if you can provide more information.

[2017-07-24 13:07] #21 closed

[2017-08-04 13:30] jfcere commented on #20
@informaterian I am closing the issue as the problem should no longer occurs ... feel free to reopen if there is anything.

[2017-08-04 13:30] #20 closed

[2017-08-13 22:43] doppelgunner opened #22 "Add pipe usage"
Using the markdownToHtml should look like this:
 `<div [innerHTML] ="content | markdownToHtml"></div>`

So that if we want to process or manipulate converted html we can just do it like this:
`[innerHTML]="content | markdownToHtml | embedYoutubeLink"`

[2017-08-17 02:51] jfcere commented on #22
Hi @doppelgunner,

I love the idea, i'll try to work on that soon ... i'll keep you in touch.

[2017-08-17 09:22] doppelgunner commented on #22
Yeah thanks and while you do it do you have any idea how to center images,
text, using css? For example I want to center the image then maybe I can
add some class on markdown etc.

On Aug 17, 2017 10:51 AM, "Jean-Francois Cere" <notifications@github.com>
wrote:

[2017-08-17 16:23] jfcere commented on #22
You can add HTML into your markdown althought depending where it is shown (i.e. on Github readme page) some of the CSS customization can be stripped.

Follow this question on stackoverflow for more information about how to do it: https://stackoverflow.com/questions/12090472/github-readme-md-center-image

[2017-08-17 23:49] doppelgunner commented on #22
Ok thanks I'll look at it

On Fri, Aug 18, 2017 at 12:23 AM, Jean-Francois Cere <
notifications@github.com> wrote:

[2017-08-21 13:38] jasonhodges opened #23 "marked is not defined"
I am receiving a 'marked is not defined' error upon compilation.

The exception is thrown inside the `handleRaw` method within markdown-to-html.component.ts file.

<img width="814" alt="screen shot 2017-08-21 at 6 35 11 am" src="https://user-images.githubusercontent.com/1988476/29521660-a6b088c2-8643-11e7-8245-b737ec79f1fb.png">

If I add `import * as marked from 'marked'` within the import statem

[2017-08-22 13:50] jfcere commented on #23
Hi @jasonhodge,

I am away from a computer right now but version 1.3.0 included a breaking change as marked is no longer automatically imported (see [release note](https://github.com/jfcere/ng2-markdown-to-html/releases/tag/v1.3.0)).

Did you add `marked.js` into your application?

[2017-08-22 14:16] jasonhodges commented on #23
Hi @jfcere, thanks for the response. I'm not using angular cli so I do not have the config file you referenced in you release notes. I've tried adding marked in several places

[2017-08-22 18:15] jfcere commented on #23
Which module loader are you using for your angular application? (webpack, system.js, ...)

[2017-08-22 21:35] jasonhodges commented on #23
webpack

[2017-08-23 03:20] jfcere commented on #23
I had a lot of problem getting marked to work with rollup when I started to transpile the library to plain Javascript but, giving another shot, I found an issue on Github that provides a workaround.

Please update to v1.3.1 and tell me if it works for you.

Note that `marked.js` doesn't need to be imported manually with this fix (no more breaking change).

[2017-08-23 12:30] jasonhodges commented on #23
Thanks @jfcere , I will try it out. I did take a look at the update to the component file and see marked included now so I confident it should work.

Do you have a communication method I could chat privately with you through? I have an idea I'd like to run by you.

[2017-08-23 21:00] jfcere commented on #23
Sure, I'll send you an email so you can write to me directly.

[2017-08-30 23:38] jfcere commented on #23
I am closing the issue, feel free to reopen if it is not working correctly.

[2017-08-30 23:38] #23 closed

[2017-09-01 17:28] jfcere commented on #22
Just wanted to give you a heads up on the feature request.

I added the pipe but I am struggling with a small visual glitch as applying synthax highlight make the code snippet flicker.

As soon as I found a workaround I'll release the new feature.

[2017-09-01 22:51] doppelgunner commented on #22
Yeah no worries it's not like I need it so much. It's just a suggestion.

On Sep 2, 2017 1:28 AM, "Jean-Francois Cere" <notifications@github.com>
wrote:

[2017-10-06 19:23] jbouzekri opened #26 "code tag not translated the same way"
I use your component in 2 ways :

1. As a markdown to html component for the detail of an article (binded from the attribute of an object in the component)
2. As a preview feature when editing an article (binded from a `FormControl` value)

In the first case, a simple :

[code]

is translated to :

[code]

which is great.

In the second case, the same markdown code translates to :

[code]

It seem

[2017-10-06 19:56] jbouzekri commented on #26
My bad. I was using the `markdown-to-html` component in a material tab that was not selected per default so the DOM with the translated markdown was not inserted and prism could not parse it to render it.

My solution was to listen for the tab change event :

[code]

Then in the component :

[code]

[2017-10-06 19:56] #26 closed

[2017-10-15 01:44] Programazing opened #27 "Code and Syntax Highlighting not working for Curly Braces?"
Is it just me or does the code highlighting not work if curly braces are present in the code?

[2017-10-15 03:11] jfcere commented on #27
If you want to use curly braces between the `markdown-to-html` tags you need to escape the opening curly brace...

###### replacing `{` by `#123;`
[code]

But if you put the code in a separate file and use `src` property on `markdown-to-html` component you don't need to escape the content of the file...

###### load from remote url
[code]
###### example.ts
[code]

[2017-10-15 22:11] Programazing commented on #27
Thanks, that works.

[2017-10-15 22:11] #27 closed

[2017-10-25 19:16] ImranAhmed opened #28 "Binding a property to src"
Works really well but can you bind a property to src? Thanks.

eg. [src]="filepath"

[2017-10-25 19:35] ImranAhmed commented on #28
Yes, you can, had an issue on my side, thank.s

[2017-10-25 19:35] #28 closed

[2017-10-28 15:36] jfcere opened #29 "v1.4.0 | Repository renamed to ngx-markdown"
# ngx-markdown

To be more accurate with Angular versions and with the upcoming v5 release, I have renamed the repository to `ngx-markdown`.

## Breaking changes
Module, component and directive names have been adjusted to follow the new repository name.

- Module has been renamed from `MarkdownToHtmlModule` to `MarkdownModule`
- Component has been renamed from `<markdown-to-html>` to `<markdown>`

[2017-11-02 09:00] lj79490324 commented on #20
run "npm install codelyzer",I succeed

[2017-11-16 22:41] denis-martin opened #32 "Syntax highlighting for more languages"
ngx-markdown only supports a subset of languages from Prismjs as it appears. Any plans to support more? I'm especially missing JSON and YAML for my use cases.

[2017-11-17 05:30] jfcere commented on #32
I have been working on v2 which won't include any synthaxe language files but instead will let you decide which the one you want to include.

[2017-11-17 18:24] denis-martin commented on #32
Sounds good, looking forward to it!

[2017-12-10 07:30] zmnv opened #33 "[to fix] AOT: ErrorObservable<T> requires 1 type argument"
Build prod with **aot**:

[code]

file: node_modules /**ngx-markdown/dist/lib/markdown.service.d.ts**

to fix error you need to
change from:
[code]
to:
[code]

[2017-12-10 21:52] jfcere commented on #33
Hi @zmnv,

The library `rxjs` played with the generic type of `ErrorObservable` between version 5.1 and 5.2.
- [5.1.0](https://github.com/ReactiveX/rxjs/blob/5.1.0/src/observable/ErrorObservable.ts#L15) was generic `ErrorObservable<T>`
- [5.2.0](https://github.com/ReactiveX/rxjs/blob/5.2.0/src/observable/ErrorObservable.ts#L15) was not generic `ErrorObservable`

The generation of the library was m

[2017-12-12 09:13] xcorpio opened #35 "Code wrong class"
when it is first  rendered it is 'lang-*'
<img width="231" alt="2017-12-12 4 59 09" src="https://user-images.githubusercontent.com/4575409/33875734-33dc8caa-df5e-11e7-8f35-512ea8b738a6.png">

after i modify the `[data]` variable it becomes `language-*`
<img width="282" alt="2017-12-12 4 59 38" src="https://user-images.githubusercontent.com/4575409/33875736-3499925a-df5e-11e7-9532-431e90f96cca.png"

[2017-12-13 17:56] rich-saul opened #36 "Syntax highlighting not working properly"
I've been trying to highlight Typescript syntax.  The text briefly highlights the syntax, then returns to an unhighlighted state.  So the highlighting is working, but not staying highlighted.

I'm using ngx-clipboard@^9.0.0, and it doesn't seem to matter which method I use to load the information; I've tried:

Passing a variable created in my Typescript code, that contains a small amount of Typesc

[2017-12-13 18:36] rich-saul commented on #36
I have the same issue using this form as well:

`  <markdown>
[code]
  </markdown>`

[2017-12-13 22:27] jfcere commented on #36
Hi @rich-saul,

Thanks for reporting the issue, I was not aware of this problem before today.
I'll have to investigate and come back to you.

[2017-12-14 17:05] rich-saul commented on #36
I'm not certain, this may be something to do with prismjs, and not specifically ngx-markdown.  I followed prismjs' install instructions to use it directly, and I get the same effect bypassing ngx-markdown.  I'm using the following markup for prismjs:

`  <pre>
    <code class="language-typescript">
      {{ base31x }}
    </code>
  </pre>`

I see the same flash from highlighted back to unhighlight

[2017-12-16 22:56] jfcere commented on #33
Closing the issue as problem is well explained in previous post and `rxjs` peerDependency has been updated to `^5.2.0` in [v1.4.1](https://github.com/jfcere/ngx-markdown/releases/tag/v1.4.1), feel free to reopen if there is anything.

[2017-12-16 22:56] #33 closed

[2017-12-20 01:49] kencoken opened #37 "Cannot set `marked` options"
I'd like to set custom options as shown in the marked documentation e.g.:
[code]
Which makes single line breaks into `<br>`s instead of the normal md behaviour of just adding a space (i.e. treating this as a line continuation).

Right now, I can hack this by just adding my desired call to `setOptions` at the top of `markdown.component.js`, but would prefer to have an option per component instance.

[2017-12-20 02:04] kencoken commented on #37
A little more looking into this, and looks like should be pretty straightforward:
* with the call to `marked()` on line 70, a second argument can be provided which is a hash of options
* so should be able to just add an option/input to each component which provides such a hash, and then can pass this directly to the call to `marked()`

[2017-12-20 22:07] jeremyfry opened #38 "Syntax highlighting inside of markdown block"
I have a chunk of markdown I'm pulling from a api that has multiple code blocks inside it with different languages. Is there a way to get syntax highlighting inside of a big chunk of markdown?

`<markdown class="markdown" [data]="body"></markdown>`

My markdown contains blocks like (closing back ticks don't actually have spaces):
[code]

[2017-12-20 23:50] jfcere commented on #38
@jeremyfry like the variable binding example on this [demo page](https://jfcere.github.io/ngx-markdown/#variable-binding)?

[2017-12-20 23:58] jeremyfry commented on #38
Looks like I should have done a minimal viable test first. Turns out it was the library I was using to parse a GraphQl response that was messing up the backticks. Thanks!

[2017-12-20 23:58] #38 closed

[2017-12-21 00:12] jfcere commented on #38
It happens even to the best of us :)

[2017-12-21 15:43] daslaf commented on #37
Hey @kencoken, is this extensible for providing a custom renderer too? I'd like to work on that as well, since the default marked renderer replaces non `/[a-z]/` characters for hyphens and I need something a little more friendly with romance languages (spanish, portuguese, etc..).

[2017-12-21 17:31] ben4d85 opened #39 "npm ERR! code EISGIT"
I am trying to install ngx-markdown and getting the following error. I have to add that I have installed angular-font-awesome prior to installing ngx-markdown.

`C:\Users\Ben\node\gcp>npm
 install ngx-markdown --save
npm ERR! path C:\Users\Ben\node\gcp\node_modules\angular-font-awesome
npm ERR! code EISGIT
npm ERR! git C:\Users\Ben\node\gcp\node_modules\angular-font-awesome: Appears to be a git re

[2017-12-21 17:57] ben4d85 opened #40 "How to include a .md file?"
How can I include a .md file? The code:

leads to the following error:

The file test.md is in the same directory as app.module.ts, where MarkdownModule is imported.

[2017-12-21 21:12] jfcere commented on #40
@ben4d85 you have to include the `test.md` file to the list of files that angular compiler will keep in the package once compiled.

If you are using Angular CLI you can add the markdown files to the `assets` property of the `.angular-cli.json` file as follow:

[code]

[2017-12-21 21:35] jfcere commented on #39
@ben4d85 the problem is not from `ngx-markdown`.

After searching on Google with `code EISGIT` I found a lot of related issue pointing out that the repository has a `.git` in the published package which make npm go crazy.

`angular-font-awesome` does have this problem as you can see the content of the published package here: https://unpkg.com/angular-font-awesome@3.1.1/ and the `.git` file is pres

[2017-12-21 21:35] #39 closed

[2017-12-22 20:23] jfcere commented on #37
Hi guys, I like your ideas and where this is heading!

I started a PR for [v1.5](https://github.com/jfcere/ngx-markdown/pull/41) to expose the renderer and allow marked options to be specified when loading the module.

This will be a step forward to add the `markedOptions` as an input binding for the component, which would allow to override the options set on the module for a specific instance whe

[2017-12-23 23:29] evanplaice commented on #32
If the Prism object is exposed globally after import, adding additional languages is as simple as including the language imports. Same goes for features like line numbers.

When I created ng2-markdown I chose not to specify a `language` attribute because the markdown source can have multiple code blocks, each with a different language. To specify the language add the `language-[language]` specifie

[2017-12-28 04:05] jfcere commented on #37
[v1.5.0](https://github.com/jfcere/ngx-markdown/releases/tag/v1.5.0) has been released which allows `marked` options/renderer to be set when importing `MarkdownModule` and both are exposed in the `MarkdownService`.

[2017-12-28 04:42] jfcere commented on #32
[v1.5.0](https://github.com/jfcere/ngx-markdown/releases/tag/v1.5.0) as been released and does not include synthax file anymore.

Please update and follow the [Synthax highlight configuration](https://github.com/jfcere/ngx-markdown#syntax-highlight) steps.

[2017-12-28 04:42] #32 closed

[2017-12-28 04:43] jfcere commented on #22
[v1.5.0](https://github.com/jfcere/ngx-markdown/releases/tag/v1.5.0) as been released and now include `MarkdownPipe`.
Please update and follow the [Markdown Pipe](https://github.com/jfcere/ngx-markdown#pipe) documentation.

[2017-12-28 04:43] #22 closed

[2017-12-28 18:33] #29 closed

[2017-12-28 18:35] jfcere commented on #35
@Xcorpio sorry for the delay, could you reproduce in a [plunker](https://plnkr.co/edit/y5LPj7?p=preview) ?

[2017-12-31 18:45] jfcere commented on #36
@rich-saul it does not seems to be an issue with ngx-markdown because the [plunker](https://plnkr.co/edit/y5LPj7?p=preview) example uses typescript highlight and works fine.

Could it be related to the use of ngx-clipboard? I would suggest trying an example without it to see if it affects syntax highlight or not.

If you have an available repository I can look into that would be helpful as well.

[2018-01-08 11:44] david30xie opened #43 "Upgrade to support NG 5+"
Hi,

I really like this project and it's working perfect in my project!

However, it doesn't "support" angular 5.0+. See warnings:

[code]

It will be great if you can release a new version which supports angular 5+

Thanks!

[2018-01-08 14:06] jfcere commented on #43
Hi @david30xie,

The package has been renamed to `ngx-markdown` and support Angular 5.

You will need to remove `ng2-markdown-to-html` and replace it by `ngx-markdown`.
You will also need to make so small changes but it is pretty easy with _find and replace_.
Please refer to the [v1.4.0 release notes](https://github.com/jfcere/ngx-markdown/releases/tag/v1.4.0).

[2018-01-08 14:46] david30xie commented on #43
@jfcere great! thank you!

will use `ngx-markdown` then

[2018-01-08 16:06] jfcere commented on #43
Don't hesitate if there is anything else!

[2018-01-08 16:06] #43 closed

[2018-01-08 23:44] jfcere commented on #40
Closing the issue as I did not get any feedback for 3 weeks but if there is anything else don't hesitate, I am always happy to help!

[2018-01-08 23:44] #40 closed

[2018-01-09 20:26] jfcere commented on #37
@kencoken do the modifications done in v1.5.0 are enough for your needs of customizating `markedOptions`?

If you still think it would be a great addition to be able to specify/override options through an input binding on the component feel free to submit your PR.

[2018-01-15 09:42] Chan4077 opened #44 "Use @angular/common/http instead of @angular/http"
# What is the expected behaviour?
It should be able to mark `@angular/http` as an optional dependency and/or maybe use `@angular/common/http`.

# What is the actual behaviour?
Errors are outputted stating that `@angular/http` is required:
![Errors outputted stating that `@angular/http` is required](https://user-images.githubusercontent.com/20047125/34936187-6200f26a-fa1b-11e7-9eca-e7bc429fac13.jpg

[2018-01-15 19:33] jfcere commented on #37
Closing for now but feel free to reopen if you feel v1.5.0 does not provide what you need.

[2018-01-15 19:33] #37 closed

[2018-01-23 03:23] prasadrajacse commented on #15
Hi Thanks for the support for variable binding.
I see the following error
ERROR TypeError: raw.replace is not a function
    at MarkdownToHtmlComponent.prepare (markdown-to-html.component.js:74)
    at MarkdownToHtmlComponent.handleRaw (markdown-to-html.component.js:64)
    at MarkdownToHtmlComponent.handleData (markdown-to-html.component.js:48)
    at MarkdownToHtmlComponent.ngOnChanges (markdown

[2018-01-23 13:54] jfcere commented on #15
Hi @prasadrajacse,

I suspect the value of `raw` to be something else then a `string` but that's hard to tell without code snippets.

I would sugest upgrading to latest `ngx-markdown`  and see if the problem is still there. The steps for migrating are really easy, pretty-much only _find-and-replace_. You can look at the [v1.4.0 Release Notes](https://github.com/jfcere/ngx-markdown/releases/tag/v1.

[2018-02-09 07:33] AlphaIX opened #45 "When I use `{` in code block ,The browser throw `Template parse errors`"
## source example:
[code]
## Error code
[code]

[2018-02-09 08:43] AlphaIX commented on #45
## problem solved
[code]
## solution:
[code]
you can define your `mdData` in your own Angular component.you can also use `ngModel`

[2018-02-09 08:43] #45 closed

[2018-02-20 23:42] ganeshkbhat opened #47 "Unable to find out whether the file exists or not based on the source provided."
Unable to find out whether the file exists or not based on the source provided in the <markdown-to-html>. If the file does not exist then throw an error event that can be captured in the usage component for some work.

[code]

[2018-02-20 23:51] jfcere commented on #47
Hi @ganeshkbhat,

If you use `MarkdownService` you will get an error if the source does not exist (see [here)(https://github.com/jfcere/ngx-markdown/blob/master/src/app/markdown/markdown.service.ts#L39)).

Correct me if I am wrong, but you would like a `onError` event on the component as well?

[2018-02-21 03:09] ganeshkbhat commented on #47
Yes. I can find the error. Let me try capturing it. It is two request for every file if not incorporated into the library. I will be using this library for production. I find this quite nice. Kudos.

Yes, `<markdown [src]="'path/to/file.md'" (error)="onError($event)"></markdown>` this is the intension.

[code]

[2018-02-21 03:43] ganeshkbhat commented on #47
I did get only one HTTP triggered. Great, let me try this and change src to data attribute usage. However, If you intend to bubble the event into the <markdown-to-html> I will love it. Seems like I cannot event reassign the handleError function since its private; unless I change the source.

[2018-02-21 19:35] jfcere commented on #47
Although I didn't try it, you should be able to get a hook on the error by doing something like this ...

[code]

[2018-02-22 01:45] ganeshkbhat commented on #47
I have got it working with the service and seems like there is one request. Though I changed from source to data input to the tag :) Here is the repo and demo if you wish to see. Do you want to be included in the credits section? I am going to use your source for this opensource repository? https://github.com/ganeshkbhat/ngDocumentor

[2018-02-22 01:46] #47 closed

[2018-02-22 03:52] nmarch213 commented on #40
Finally! I was looking for a solution to this forever. This would be a perfect thing to add to your documentation, maybe an Angular CLI related section. Thanks again!

[2018-02-22 04:46] jfcere commented on #40
I think you can use the wildcard `*` to search through folders...

[code]

[2018-02-22 05:56] jfcere commented on #47
I have added the `error` output event property, update to [v1.5.1](https://github.com/jfcere/ngx-markdown/releases/tag/v1.5.1) to get it.
Sure if you want to add me in your credits section i'll be glad, your project look promising!

[2018-02-24 02:39] jfcere commented on #36
Closing the issue. If there is any new development or anything don't hesitate.

[2018-02-24 02:39] #36 closed

[2018-02-26 10:44] dimiwil opened #49 "Angular directive in markdownfile"
Hi,
i'm working on an application, which loads different pages from markdown files.

The pages shows some html components with descriptions. On some pages, i want to show angular components with some directives on it.
My problem is, that the directives are not working, when they are integrated in the markdown file.

My markdown file looks like:
[code]

[2018-02-26 12:58] govreddy opened #51 "Access remote URL md file."
how do I access remote URL markdown file and render it?
URL can be a property in the class file.

[2018-02-26 13:46] jfcere commented on #51
Hi @govreddy, have you tried `src` property on the `markdown` component or directive?

[code]

[2018-02-26 16:03] netlander opened #52 "Code Syntax Highlighting not Working"
Hello, great plugin,

After following the `Syntax highlight` section of the README the code, as in your examples, is not highlighting:

[code]
Any ideas what could be wrong?
Thanks

[2018-02-26 16:25] jfcere commented on #52
@netlander thanks,

Did you installed `Prism.js` via npm/yarn and include it in your application?

Synthax highlight is optional, therefore you need to follow the instruction on the readme here: https://github.com/jfcere/ngx-markdown#syntax-highlight

[2018-02-26 16:33] netlander commented on #52
Yes, I have `prism.js` installed and instructions followed to the letter, the markup seems to be well generated, other elements like `block quotes` highlight well but the code snippets are plain text.

[2018-02-26 16:53] jfcere commented on #52
I used your example it in this [plunker](https://plnkr.co/edit/pPnFoB?p=preview)... let me know if it helps.

[2018-02-26 18:13] netlander commented on #52
It must be something at my end, I'm using Material themes that might be interfering with styling or it could be something else entirely. Thanks for trying to replicate the problem. I'll leave this issue open for a while to see if someone else is having the same problem.

[2018-02-26 18:16] jfcere commented on #52
You have a included a css theme for prism.js such as `node_modules/prismjs/themes/prism-okaidia.css`?

If you have any repository I can access I can take a look otherwise I'm kind of clueless.

[2018-02-27 19:06] netlander commented on #52
After trying on a fresh project I got things to work as intended, definitely something wrong with my larger project's setup. Will look into the problem further when I get a chance and if I find something that is constructive I will update this issue.

Closing it for now - Many thanks

[2018-02-27 19:06] #52 closed

[2018-02-27 19:10] jfcere commented on #52
Glad you find out, don't hesitate if I there is anything else.

[2018-03-15 10:50] ben4d85 opened #56 "Component css styles are not applied?"
It appears that any css that I add to my component.css is not applied inside the markdown directive.

[code]

You can verify this by e.g. adding h2 {color: red } in the styles part near the top of app.ts in your plunker, https://plnkr.co/edit/y5LPj7?p=preview

[code]

[2018-03-16 14:02] jfcere commented on #56
Hi @ben4d85, thanks for bringing that up!

Right now this problem is due to the [ViewEncapsulation](https://angular.io/api/core/ViewEncapsulation) of the `markdown` component that uses the default `ViewEncapsulation.Emulated` which means that the CSS that is inside the component opening/closing tags is scoped.

### Workarounds
There is 2 workarounds you can use right now (that I tested in the Plun

[2018-03-24 21:18] ben4d85 commented on #56
Thank you for your quick response and for the workarounds you have suggested. I am currently using shadow piercing, which gets the job done.

However, I am wondering if there is something that can be changed in this project to achieve the desired functionality out of the box without any workarounds?

[2018-04-10 23:42] jfcere commented on #51
What version of Angular are you using?

[2018-04-11 13:30] yashsriv opened #57 "Support for rxjs 6"
Angular 6 uses rxjs 6 which doesn't have deep imports supported.

[2018-04-11 14:15] jfcere commented on #57
@yashsriv  thanks for the notice, i'll add this as a note to myself:

**deep imports:** Can no longer deep import top-level types such as `rxjs/Observable`, `rxjs/Subject`, `rxjs/ReplaySubject`, et al. All imports should be done directly from `rxjs`, for example: `import \{ Observable, Subject \} from 'rxjs';`

[2018-04-29 15:05] BamiGorengo opened #58 "Some Lines Work, some not..."
There must be some wrong in ngx.markdown. It works a bit but not at all: http://prntscr.com/jblzek

[2018-04-29 17:45] jfcere commented on #58
Hi @BamiGorengo,

When using headers you must have a "white space" between the `#` sign(s) and the `text` like this...

[code]

[2018-04-29 19:57] BamiGorengo commented on #58
I get the json with API Request from Trello. There the Code Formatting work fine.
![image](https://user-images.githubusercontent.com/4930169/39410418-3bba5054-4bf8-11e8-9b38-c764b4627176.png)

Check the content. Its exactly the same content like on the screenshot in my first post

[2018-04-29 21:16] jfcere commented on #58
This package uses [Marked](https://github.com/markedjs/marked) markdown parser which supports both [CommonMark](http://spec.commonmark.org/0.28/) and [GitHub Flavored Markdown](https://github.github.com/gfm/) markdown flavors.

On [Trello's documentation](https://help.trello.com/article/821-using-markdown-in-trello) it says it uses its own modified version of markdown syntax which you can be seen

[2018-04-29 21:28] BamiGorengo commented on #58
One thing... What you think about adding a class like "markdown" or "ngx-markdown" on the element, where people use the pipe? Ty want to build my own markdown Theme. but i need to add now manualy on every single element, where i use the pipe, any class. Would be cool when the extension did this by him self.

What you think about this?

[2018-05-04 13:12] jfcere commented on #57
Now that Angular 6 is officially released I am going to do the modifications this weekend.

[2018-05-04 14:26] rgwood commented on #57
Thanks for looking at this so quickly after Angular 6's release.

I've found this article useful for upgrading from RxJS 5 to 6: https://auth0.com/blog/whats-new-in-rxjs-6/

[2018-05-04 14:27] jfcere commented on #57
@rgwood thx for the article, i'll look into it!

[2018-05-07 02:38] #44 closed

[2018-05-07 03:02] jfcere commented on #44
`Http` service has been replaced by `HttpClient` in [v1.6.0](https://github.com/jfcere/ngx-markdown/releases/tag/v1.6.0).

[2018-05-07 03:03] jfcere commented on #57
Update to Angular 6 has been published in [v1.6.0](https://github.com/jfcere/ngx-markdown/releases/tag/v1.6.0).

[2018-05-07 03:03] #57 closed

[2018-05-07 10:17] ImranAhmed opened #61 "Angular v6 compatability"
It would be good to remove this WARN.

npm WARN ng2-markdown-to-html@1.3.2 requires a peer of @angular/core@^2.4.0 || ^4.0.0 but none is installed. You must install peer dependencies yourself.

[2018-05-07 13:08] ImranAhmed commented on #61
ERROR in node_modules/ng2-markdown-to-html/dist/lib/markdown-to-html.service.d.ts(11,41): error TS2314: Generic type 'ErrorObservable<T>' requires 1 type argument(s).

[2018-05-07 13:11] jfcere commented on #61
Hi @ImranAhmed,

For Angular 6 you need to install [v1.6.0](https://github.com/jfcere/ngx-markdown/releases/tag/v1.6.0) of ngx-markdown.

[2018-05-07 18:11] Rosseyn opened #62 "1.6.0 introduces breaking bug"
Same build, successful on Friday, failing on Monday, now with this error:
[code]

Using these packages
[code]

[2018-05-07 20:08] jfcere commented on #62
Hi @Rosseyn,

### ngx-markdown has been updated to Angular 6

This weekend I updated the package to Angular 6 which pulls on RxJS 6 and they changed the way to do the import (no more deep imports). For this reason [v1.6.0]() is no longer compatible with previous versions of Angular.

I am deeply sorry about the breaking changes but at some points the upgrade has to be made.

### You basically have

[2018-05-07 20:14] Rosseyn commented on #62
Props for staying on top of NG updates, the main issue if this is where it's headed is that this was a minor semver update instead of major.

I've already updated on my end, but keep in mind that ^ is generally a default state because it's supposed to be safe for the end user. I'm just here letting you know that it's not, do with it as you will.

Thanks for the great package!

[2018-05-07 20:39] #62 closed

[2018-05-09 14:09] ultimatecookiecutter opened #63 "Angular 6 wildcards"
Angular 6 does not support wildcards anymore, they still support the long form.

Before in .angular-cli.json I had, `"app/components/**/*.md".` The new version I changed it to
`{ "glob": "**/*.md", "input": "src/app/components/", "output": "/" } `but it won't work.

[2018-05-09 14:36] jfcere commented on #63
There seems to be an issue on @angular/cli about the long form support...

- Documentation: https://github.com/angular/angular-cli/wiki/stories-asset-configuration
- Issue: https://github.com/angular/angular-cli/issues/10645

[2018-05-09 14:50] jfcere commented on #63
Just a though...

I noticed that you previously used `"app/components/**/*.md"` in the `assets` section of your `.angular-cli.json` ... which means you probably used the `markdown` component like this?

[code]

But using `{ "glob": "**/*.md", "input": "src/app/components/", "output": "/" }` would (I think) copy the `.md` files at the root of your `dist` folder once compiled.

Please try to build y

[2018-05-09 18:44] danhorris opened #64 "IE support"
IE 11 is supported? Im using angular 4 and ngx2-markdown.

[2018-05-09 18:49] jfcere commented on #64
I don't see any reason why It should not work, you can try it yourself by opening the following links in IE 11:
- demo page: https://jfcere.github.io/ngx-markdown/
- plunker: https://plnkr.co/edit/y5LPj7?p=preview

[2018-05-09 18:51] ultimatecookiecutter commented on #63
You are partially right, I've built in prod and it copies the component's name folder and places the readme there.

Example:
dist/componentName/README.md I've adjusted the path and it works now 👍

Thanks!

[2018-05-09 18:55] #63 closed

[2018-05-09 18:56] jfcere commented on #63
@ultimatecookiecutter great thx for your feedback!

[2018-05-10 13:36] danhorris commented on #64
it's works!

[2018-05-10 13:36] #64 closed

[2018-05-10 15:50] jfcere commented on #64
Excellent, I'll try to keep in mind that it would be a good addition to put a browser support table in the README.md file!

[2018-05-12 16:57] jhelou96 opened #65 "XSS Vulnerability"
Hey,

someone pointed out an issue in another Angular markdown library about XSS vulnerability and it seems that this library presents the same issue as well.

Links are not being validated and as such, the following code could be used to execute javascript code:

`[Click Me](javascript:alert('Injected!'%29)`

[2018-05-13 03:37] ganeshkbhat opened #67 "Consistent Upgrades"
Hi,  I am using you package for a tool http://ngDocumentor.github.io . I have plans to maintain this. And I also want to discuss features/open issues (like xss open issue) for consistent upgrades with ngx-markdown for the same. How can we connect offline? :-)

[2018-05-14 13:46] jfcere commented on #51
Any development or should I close the issue?

[2018-05-14 13:47] jfcere commented on #67
Hi @ganeshkbhat, you can click on my name to get to my profile page, you will find my email there.

[2018-05-20 17:39] #51 closed

[2018-05-20 17:52] jfcere commented on #49
Sorry this scenario cannot be done because binding directive/component via `innerHTML` or a variable is not supported by Angular.

Here are an blog post on that matter:
https://www.intertech.com/Blog/angular-4-case-study-caution-about-binding-html-content-using-innerhtml/

Here is an answer on Stackoverflow stating this cannot be done and why:
https://stackoverflow.com/a/41089093/5583283

[2018-05-20 17:52] #49 closed

[2018-05-20 17:58] #65 closed

[2018-05-20 19:16] jfcere commented on #35
Sorry I've tried but unfortunately I cannot reproduce the issue reported here.

Using `[data]` input property with the provided json  code in a variable the class is `language-json` at first load and stays the same after modifying the content of the variable.

Click on the image below to see my test...

![markdown-language-class](https://user-images.githubusercontent.com/6987084/40282656-9d0db92e-

[2018-05-20 19:16] #35 closed

[2018-05-21 13:46] avelow opened #68 "Feature: add plugins like katex"
I would like tu use Katex with ngx-markdown the same way I can use it on StackEdit.io.
Is it planned to have some docs about how to add plugins or how to add new key (in StackEdit, Katex syntax is between $$) to execute some logics ?

[code]

I can try to do something and do a PR if you want but I would need some indications.

[2018-05-21 20:03] jhelou96 opened #69 "Syntax Highlighting - Some languages not rendered correctly"
Hey, it's me again ^^

It seems I am having troubles with some languages of the syntax highlighting plugin.

The code below only renders the following result: 'test'

`<div class="test">test</div>`

And the code below does not render anything:

`<?php echo 'test'; ?>`

I don't have any issue with the other languages (Java, Python, Javascript, CSS, etc.) which are rendered and highlighted properly.

[2018-05-21 21:11] jfcere commented on #69
Hi @jhelou96,

If I understand correctly, your are trying to show the an html and a php code sample with syntax highlight right?

Markdown will always try to parse html unless the code is inside a "blockcode" delimited with 3 `ticks`. So to show a code sample and use synthax higlight correcty you need to do it like this...

![image](https://user-images.githubusercontent.com/6987084/40330101-df8ad8

[2018-05-21 22:01] jhelou96 commented on #69
Thank you for answering quickly.

Yes of course, I did use the markdown syntax correctly but my problem was with my custom way of rendering the code which was executing the HTML code rather than displaying it. I fixed it.

Sorry for opening this issue too quickly, I should've made some tests first.

[2018-05-21 23:08] jfcere commented on #69
No worry, I'm always glad to help when I can!

[2018-05-21 23:08] #69 closed

[2018-05-22 10:54] maxime1992 opened #70 "Do not import `HttpClientModule`"
This might sounds a bit weird.

And I hope someone tells me I'm wrong.

I do have some interceptors in my app.
I do use `ngx-markdown` within a lazy loaded module, let's call it `LazyModule`.
From `LazyModule`, every http request is not caught by any of my interceptors.

I've been digging on why this lazy loaded module especially, because I have others and it works fine with them.

Then I've found

[2018-05-22 13:09] jfcere commented on #70
@maxime1992 thx for reporting this out and the PR.

I am at work rightnow but I've read the issue quickly and it seems to make sense to remove the import of `HttpClientModule` inside `MarkdownModule`. I am going to take a look tonight to be sure it doesn't bring any undesirable side effects and if not i'll accept your PR and release a fix.

I'll keep you in touch!

[2018-05-22 21:35] maxime1992 commented on #70
@jfcere cool, I gave a quick try and then struggled to publish my fork on npm all afternoon but turns out it was an official problem with npm...

I'll be able to fully test that tomorrow morning so if you're keen to wait 1/2 day I'll make sur everything's fine.

[2018-05-23 04:55] jfcere commented on #70
I did some tests on my sides and I can confirm that if you import `MarkdownModule` into a lazy loaded module it will reset the interceptors because it imports `HttpClientModule` so it should be removed.

But I also found out when `HttpClientModule` is imported into the `AppModule` is is not necessary to pass `HttpClient` through `MarkdownModule.forRoot()` to be provided inside `MarkdownModule`.

T

[2018-05-23 07:06] avelow commented on #68
I use ngx markdown to render articles for a blog. In some article, i will need to write some mathematical formula.

With markdown, you can render code using ```, with KaTex, it's possible to render mathematical formula (if you look stackedit.io, they added this pluggins to render mathematical formula).

Maybe it has nothing to do with markdown and should not be added and must be handled before or

[2018-05-23 13:13] maxime1992 commented on #70
Even though it's not necessary, it enforces the client to pass it and avoid errors.

If somebody does not want to use HttpClientModule in their app and they do not see it imported to be passed to MarkddownModule, they'll just remove it.

IMO it'd be better to keep an explicit import :)

[2018-05-23 13:43] jfcere commented on #70
But it just seems wrong to force somebody to include `HttpClientModule` and pass `HttpClient` to `MarkdownModule` if they don't need any remote content ...

Another idea would be to set [@Optional()](https://angular.io/api/core/Optional) on `HttpClient` in `MarkdownService` constructor [here](https://github.com/jfcere/ngx-markdown/blob/master/src/app/markdown/markdown.service.ts#L20) and add an `i

[2018-05-23 14:07] maxime1992 commented on #70
Yep sounds like a cool idea. I'll give a try.

[2018-05-23 15:42] maxime1992 commented on #70
@jfcere I've added a [commit](https://github.com/jfcere/ngx-markdown/pull/71/commits/e513db679cf0bca0ad6c3be50a80dc78cd1dc6c5). Let me know what you think :)

[2018-05-24 19:36] jfcere commented on #70
Thanks again for your PR and work around this!

I am going to do some small rework to use the new angular library projects architecture and release v2.0 afterward.

If you really need this quick I can do a v2.0.0-beta.0 release if you want?

[2018-05-25 07:18] maxime1992 commented on #70
You're welcome 😁. Thanks for sharing the lib in the first place!

Sounds like a plan. But careful, as far as I've seen there's no way to continuously rebuild a library yet. So if you make changes and want to see them running in the demo app you'll have to rebuild everytime which is a bit annoying.

It's OK I've published a temporary fork on npm because I really needed that for my CI. But I'll remo

[2018-05-25 17:34] EMCP opened #72 "Trying to understand your semver choice of 1.6"
version 1.6 seems to completely break some applications.. sounds like I should never use `^` in front of ngx-markdown and freeze at `1.5.2` until I can bring the app up to angular 6.. but shouldn't this have been a `2.0.0` release?

[2018-05-25 17:38] jfcere commented on #72
Nothing to understand ... bad move, shit happens!
Now i would probaby feel bad to "unpublish" the v1.6.0 because it would break thoses who already switch.
But still, this is something I am considering as I will release 2.0 soon anyway.

[2018-05-25 17:51] EMCP commented on #72
All the same, thanks for the library.  Will use `~`.  We seem to have recovered safely.

[2018-05-25 17:51] #72 closed

[2018-05-25 17:55] ianzimmerman opened #73 "Rendering is deleting characters and not providing html"
Using sample MD text rendering in angular 6 is incomplete:
[top is rendered, bottom is 'pre' formatted](https://imgur.com/a/m7ZW5hz)

[Code](https://imgur.com/a/L6RQk70)

default options.

[rendered html](https://imgur.com/a/L6RQk70)

Database text:
`1. First ordered list item\n2. Another item\n  * Unordered sub-list.\n1. Actual numbers don't matter, just that it's a number\n  1. Ordered sub-list\

[2018-05-25 18:20] jfcere commented on #73
Can you try using `[data]` attribute?

The reason why i think its related is because I implemented a method to recognized the start index of a line to handle indentation correctly when using markdown directly in the html like this ...

[code]

[2018-05-26 07:31] ganeshkbhat commented on #65
@jfcere is this closed or I yet have to sanitize my previous version v1.6? I saw this:

`You can sanitize the markdown by setting the sanitize property to true when importing the MarkdownModule like this:` Which version would this be?

[2018-05-26 12:44] jfcere commented on #65
It is closed because you can already sanitize by setting property `sanitize: true` when providing configuration with `MarkdownModule.forRoot({ .... })` (see my previous comment: https://github.com/jfcere/ngx-markdown/issues/65#issuecomment-388642548).

[2018-05-28 13:09] Ahmad-Magdy opened #75 "problem in AOT Build"
I'm using MarkdownModule in the default way
in the imports
[code]
and when i build my project `ng build -- --prod --aot`
i'm getting this error

i'm using the latest version 6.0.0

[2018-05-28 13:19] jfcere commented on #75
@Ahmad-Magdy thx for reporting the issue.

I saw that it seems to be a popular issue with `ng-packagr`, I'll take a look at it tonight.

[2018-05-28 13:20] Ahmad-Magdy commented on #75
@jfcere  Thanks

[2018-05-28 13:53] marvindv opened #76 "AOT build failing for 6.0.0"
Greetings, I'm not able to build my project with ngx-markdown@6.0.0 and AOT being enabled.

With this `CoreModule` definition:

[code]

I get this error:

[code]

Omitting `.forRoot()` leads to this error:

[code]

Can also reproduce with a new angular project:

[code]

Modify `app.module.ts`:

[code]

[code]

[2018-05-28 13:54] marvindv commented on #76
Whoops, duplicate of #75.

[2018-05-28 13:54] #76 closed

[2018-05-28 14:07] jfcere commented on #76
@marvindv thanks for the details, this is going to be helpfull 👍

[2018-05-28 20:29] ianzimmerman commented on #73
@jfcere Thank you! That seems to have fixed it. Appreciate it.

[2018-05-28 20:29] #73 closed

[2018-05-29 01:21] #75 closed

[2018-05-29 01:30] ganeshkbhat commented on #65
Ok cool. Thanks. Sorry for replying late. In what kind of cases do script tags or any javascript gets applied other than the link javascripts? Hopefully none right? Just making sure.

[2018-05-29 01:38] jfcere commented on #75
The issue should be resolved, please update to [v6.0.1](https://github.com/jfcere/ngx-markdown/releases/tag/v6.0.1)

Thank again to @Ahmad-Magdy for reporting the issue and @marvindv for the clear reproduce steps.

[2018-05-29 01:50] jfcere commented on #65
I am not an expert on that matter but I know Javascript can be injected into different html elements such as `script`, `link`, `body` and others and can also be injected into CSS properties like `background-url`.

I would suggest you to read the following article: https://www.acunetix.com/websitesecurity/cross-site-scripting/ ... it's really interesting if you are not familiar with XSS vulnerabili

[2018-05-29 01:55] ganeshkbhat commented on #65
ok. i will sanitise. :-)

[2018-05-29 14:35] ganeshkbhat opened #78 "Copy to clipboard option"
Feature request:

Can you consider adding / extending `copy to clipboard` option for code blocks in the library? Something like the code copy in angular? https://angular.io/guide/quickstart

[2018-06-05 15:54] hjjobs opened #79 "open links in new tab"
When embedding a link using markdown it opens in the same tab. Is there any way through which we can open the link in a new tab ?

[2018-06-06 16:30] jfcere commented on #79
Quickly there is two options that comes to my mind...

#### 1. Use HTML directly
Since Markdown support HTML you could use HTML for the links you want to open with `target="_blank"`

[code]

#### 2. Extend `renderer`
Marked renderer can be extended when initializing `MarkdownModule` or using `MarkdownService` (see [README.md](https://github.com/jfcere/ngx-markdown#renderer) renderer section) to ad

[2018-06-06 17:16] hjjobs commented on #79
thanks @jfcere . it did work for me.

[2018-06-06 17:16] #79 closed

[2018-06-13 08:30] Jrubzjeknf commented on #56
The shadow piercing is necessary because style encapsulation is an Angular feature related to components, including your own. When you're using ngx-markdown's component and want to apply styles to it from the css file of your own component, you have to break out of your component's style encapsulation.

Possible solutions:
- Use ngx-markdown's directive instead of its component, so style encapsula

[2018-06-21 04:40] Highestop opened #81 "wired things happen in 6.1.0"
For a simple example, in HTML I give

[code]

And it shows excatly as

**`TEXT # TITLE`**

Turns out all the content inside one `<markdown>` are shrinked into one `<p>`, which I think cause the problem. It happens everywhere just after I install the latest version.

[2018-06-21 06:58] Highestop commented on #81
Find out that if I give

[code]

The result will be like

# `TITLE **TEXT**`

Seems it can't split elements in different lines into several tags and all in the first one.

And this happens to any version of ngx-markdown, making me feel it's because of new version of ng6 or something related.

[2018-06-21 07:21] Highestop commented on #81
Solved with adding `preserveWhitespaces: true` in component decorator 😅

[2018-06-21 07:21] #81 closed

[2018-06-21 14:47] Highestop opened #82 "Use [src] to load local .md files in the project"
What I want to do is use `markdown` directive with `[src]="..."` to load a local .md file inside the project, like I have a `my.component.ts` and a `my.md` in the same directory. How can I do that?

I tried importing `HttpClient` in the module with `MarkdownModule.forRoot({ loader: HttpClient })` and using `markdownService.getSource()` to check it, turns out it always opens an XMLHttpRequest, whic

[2018-06-21 17:13] jfcere commented on #82
Hi @Highestop,

Take a look at the issue https://github.com/jfcere/ngx-markdown/issues/40, I explain how to include your external files into `angular.json` so it can be served when building your application.

Let me know if it helps!

[2018-06-21 23:38] Highestop commented on #82
Hi @jfcere ,

Thanks! That works great😁

[2018-06-21 23:38] #82 closed

[2018-07-03 10:09] avelow commented on #68
What I wanted can be done overriding the code render function

[2018-07-03 10:09] #68 closed

[2018-07-03 12:47] jfcere commented on #68
@avelow glad to hear it!

If you feel like sharing your code for anybody that would have the same problem that would be appreciated.

[2018-07-03 12:55] avelow commented on #68
I will share my code when it will be done !
I will try to do something like what is done here https://github.com/linxiaowu66/marked-kaTex/commit/3f9d61a025ccc338ae45716f5af11047cd42c4e8#diff-81ab0a5aa39b7a91951fc28d2d151496

I would have prefer if it was possible to had a new type of block (like quote, code or whatever) but it should be easier to just override the code renderer function

[2018-07-10 08:27] Aw3same opened #83 "[src] dont take syntax of markdown"
Hi! I'm trying to display a markdown in my angular 6 app. I'm using the basic configuration of this plugin and follow the steps in the readme , and it works, but the app shows the text without style. I mean,  I want to displays this:

[code]
like this :

## My header
**my text**

But I can only show it like this, in plain text:

My header
my text

Also, it doesn't take either the headings or any o

[2018-07-10 09:55] Aw3same commented on #83
Fixed, it was a problem with general styles

[2018-07-10 11:00] ganeshkbhat opened #84 "New Repo?"
Is this the new repo? https://github.com/ngx-markdown

[2018-07-10 12:37] jfcere commented on #84
No, just somebody else trying to achieve the same thing.

[2018-07-10 12:37] #84 closed

[2018-07-10 12:46] #83 closed

[2018-07-15 12:21] RobynLiu opened #85 "Plan to support markdown editor?"
Is there a plan to support markdown editor?

[2018-07-24 10:15] TimRoadley opened #86 "html syntax <div> renders as &lt;div>"
I've noticed an issue with the conversion of html tags with Angular 6.

Steps to reproduce:

1. Clone the demo of **ngx-markdown**

2. Update the **codeAndSynthaxHighlighting** variable in as per the screenshot below

![screen shot 2018-07-24 at 8 17 27 pm](https://user-images.githubusercontent.com/11454640/43132299-a63c9922-8f7e-11e8-98da-f7674069e6e5.png)

3. Run the application and observe the

[2018-07-24 12:41] jfcere commented on #86
Since Angular 6 you have to use `ngPreserveWhitespaces` otherwise whitespaces are striped from the rendrered HTML.

It is mentioned on the `README.md` here: https://github.com/jfcere/ngx-markdown#usage

[2018-07-24 13:01] jfcere commented on #86
Sorry I deleted my previous comment because I totally missed your point.
I'm going to take a look and come back to you.

[2018-07-24 15:04] jfcere commented on #85
This could be something nice to add but don't expect that in a near future as the primary purpose is to render markdown synchronously and asynchronously.

You can already find a lot of online markdown editor ([dillinger.io](https://dillinger.io) for example) on the web and only _copy-paste_ the result to any file to be rendered with ngx-markdown.

[2018-07-27 08:01] TimRoadley commented on #86
Any luck with this? Would you like me to help in any way with the investigation?

[2018-08-11 17:08] jfcere commented on #86
Sorry for the delay ... it's vacation time 😎!

Using interpolation escapes HTML characters, therefor to avoid this you can use `data` input binding or alternatively using `innerHTML` would also work!

Using your example it would go like this ...

**Component**
[code]
**HTML**
[code]

This will give the desired result ...

![image](https://user-images.githubusercontent.com/6987084/43994228-9bd8ada8

[2018-08-12 17:35] kreuzersteve opened #88 "Possibility to add Parsing Rules?"
Hello,
does this library support the addition of new parsing rules before/after an existing rule?
If not, are you planning to add this feature?

Thanks and kind regards!

[2018-08-14 17:52] jfcere commented on #88
Hi @kreuzersteve,

Because this library uses marked.js, you can customize the way some block elements are rendered by the library.

You can refer to [marked.js renderer documentation](https://marked.js.org/#/USING_PRO.md#renderer) for an example and the list of elements that can be customized in addition to the [renderer section](https://github.com/jfcere/ngx-markdown#renderer) of the `README.md`.

[2018-08-15 02:36] caiwenglong opened #89 "Compile the following error："
![image](https://user-images.githubusercontent.com/34529745/44128715-015a1a92-a077-11e8-9c50-eb5da1ebff11.png)

[2018-08-15 13:47] jfcere commented on #89
Hi @caiwenglong, can you paste your `package.json` configuration so I could know which package versions you are using?

[2018-08-16 01:10] TimRoadley commented on #86
Thanks for your response.

Unfortunately it does not explain why the **<** renders incorrectly and the **>** renders correctly in a div?

To see this issue on my site, check this out : https://timroadley.com/posts/2018/07/how-to-add-markdown-and-syntax-higlighting-to-angular

[2018-08-17 19:07] fernando-almeida opened #90 "Allow highlight of dynamic search text regardless of syntax highlighters"

[2018-08-17 20:15] jfcere commented on #90
That sounds like a great idea! 👍

[2018-08-18 22:31] jfcere commented on #86
@TimRoadley I published a beta version with the linked PR, could you please try it and tell me if this fix the issue on your side?

[code]

[2018-08-19 14:55] kreuzersteve commented on #88
Hey @jfcere,

My current project requires the addition of new parsing rules and custom block elements, therefore I will try requesting this feature directly at the marked.js library.

Thanks for the answer, I'll see if and when this feature will get implemented 👍

[2018-08-19 18:54] BnSmth commented on #52
@netlander Did you ever get to the bottom of what was causing this? I am also seeing code highlighting work for code blocks (specified with three backticks) but not for inline code sections (specified with a single backtick).

@jfcere Thanks so much for all the work on this library. I've been rewriting my blog using Angular and had delayed the markdown parsing/code styling until the end as I assum

[2018-08-21 01:53] TimRoadley commented on #86
Hi @jfcere ,

Yes, this fixed it!!

Cheers,

Tim

[2018-08-21 01:53] #86 closed

[2018-08-21 12:58] jfcere commented on #86
Great, I'll release it as "official" in the next few days... in the meanwhile, you can still use the beta that I already published.

I love what you did with your blog by the way 👍

[2018-08-21 22:57] TimRoadley commented on #86
Thank you and I'm glad you like the blog, ngx-markdown is fantastic!

[2018-08-22 10:03] Chan4077 opened #93 "Highlight.js support?"
Will there be Highlight.js support? IMO, Prism.js requires a lot of CSS stylesheets and I would like to support as many syntax languages as possible in my app.

[2018-08-23 12:41] AlexKarlsen opened #94 "Angular 6 ngx-markdown cuts away the first 4 character after newline ngPreserveWhitespace is used"
I've a strange issue using ngx-markdown after upgrading to Angular 6. The first 4 character after new line is cut away.
`     <div markdown ngPreserveWhitespace>
       {{data.fields.content}}
     </div>
`
Is does the formatting of header etc. correctly.

[2018-08-23 13:06] jfcere commented on #94
Hi @AlexKarlsen,

Does it work correctly if you put the interpolation in a new line? Also, this is probably just a typo but the `s` at the end of `ngPreserveWhitespaces` was missing in your example.

[code]

[2018-08-23 13:33] AlexKarlsen commented on #94
Hi @jfcere,

No doesn't change a thing. It was just a typo in my comment and not in my code. When removing ngPreserveWhitespaces it only cuts one character away.

[2018-08-23 15:42] jfcere commented on #94
I think I have an idea what could be the problem... but I won't be able to work on it until this weekend.

In the meanwhile, could you try those things and tell me if it helps?

**Remove the spaces between the closing of html tags and the interpolation**
[code]

**Use `data` input property instead of interpolation**
[code]

[2018-08-24 14:06] jfcere commented on #93
Hi @Chan4077, I guess this could be a good idea.

Just for the sake of it, have you compare the size of all the js/css files needed for Prism.js for all language versus all the js/css file needed by Highlight.js?

They both seems to have a lot of them...

[2018-08-25 22:44] Aigeec opened #95 "Question: Is it possible to link to another .md file from another md file and have it rendered by ngx-markdown"
I have a use case where I am rendering an .md file that I want to link to another .md file for use when viewing on bitbucket. Is it possible to tell ngx-markdown to render the linked .md file in html too?

So in my angular app I have the following:

app.component.html
[code]

foo.md
[code]

I'd like bar.md to be rendered by ngx-markdown when I click the link.

[2018-09-05 09:03] paullauyc opened #97 "How to load the md file from cross-origin url ?"
How can I load from url path ?
The code:
[code]
leads to the following error:
Failed to load http://xxxr.com/guides/test.md: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:4200' is therefore not allowed access.

I am using the angular 6.1.6
ngx-markdown is 6.2.0

[2018-09-05 15:11] jfcere commented on #97
This isn't an issue related to `ngx-markdown` but to all web applications.

This error means you are making an [XMLHttpRequest](http://en.wikipedia.org/wiki/XMLHttpRequest) to a different domain than your page is on. So the browser is blocking it as it usually allows a request in the same origin for security reasons. You need to some modifications on the server side when you want to do a cross-dom

[2018-09-05 15:29] jfcere commented on #95
This is not possible for the moment and I can't think of a way to make this works as writing the following markdown would only generate a link pointing toward the remote path...

[code]

#### This is just a thought and I haven't go down that _rabbit hole_ but ...
You could probably do something a little more _"dirty"_ like having a page in your application where its only purpose would be to render

[2018-09-05 15:31] jfcere commented on #89
Closing due to inactivity, please reopen the issue if you can give more information about the problem.

[2018-09-05 15:31] #89 closed

[2018-09-05 17:16] paullauyc commented on #97
Thanks

[2018-09-11 01:01] wf9a5m75 opened #98 "code syntax doesn't work on ionic v4"
Hello, I have been trying to use this module on ionic version 4 beta.
Ionic v4 is a JS framework based on Angular 6.

I archived to use this display the rendered HTML from markdown,
but only `three-backslash` syntax highlight does not work.
However if I write `<pre><code class="language-typescript">let hello="world";</code></pre>`, this works as I expected (but no coloring for some reasons).

http

[2018-09-12 02:29] wf9a5m75 commented on #98
Thank you. I really appreciate for your help.

[2018-09-12 02:30] #97 closed

[2018-09-15 16:11] baeteja opened #100 "ErrorObservable<T> requires 1 type argument(s)"
Hi, I'm facing a typescript related issue:

`ERROR in node_modules/ng2-markdown-to-html/dist/lib/markdown-to-html.service.d.ts(11,41): error TS2314: Generic type 'ErrorObservable<T>' requires 1 type argument(s).`

It complains about the ErrorObservable (in markdown-to-html.service.d.ts) not having a type.
I verified that once I added `<any>`, the code worked.

Since I'm the only one with this issu

[2018-09-15 17:41] jfcere commented on #100
Hi @baeteja,

As version [1.4.0](https://github.com/jfcere/ngx-markdown/releases/tag/v1.4.0) the repository has been renamed to `ngx-markdown`.

Therefore you will need to remove `ng2-markdown-to-html` and install `ngx-markdown` instead. You will only need to do some _find-and-replace_  to rename some stuff...

- Rename module import from `MarkdownToHtmlModule` to `MarkdownModule`
- Rename compone

[2018-09-16 11:44] baeteja commented on #100
Ah ok, I see...

I did the refactoring, everything seems to work fine now ;)

thanks for the help!

[2018-09-16 14:58] jfcere commented on #100
Great! I'm glad I could helpl.

[2018-09-16 14:58] #100 closed

[2018-09-17 19:32] wf9a5m75 commented on #98
Is there any updates about this?

[2018-09-18 02:49] jfcere commented on #98
Sorry for the delay, but yes I took a look at it... just be aware that I never used Ionic before so it pretty much falls out of my "confort zone" but here is what I found out so far!

Unfortunatly, although the same example works on [StackBlitz](https://stackblitz.com/edit/ngx-markdown-qbmpyc) ... I can't seems to make the syntax highlight works on Ionic 4.

My guess is that `prism.js` needs to ac

[2018-09-18 03:08] jfcere commented on #98
Bingo! Found it ...

When configuring `MarkdownModule` with `MarkedOptions` the property `pedantic` was set to `true` but once set to `false` it works fine.

https://marked.js.org/#/USING_ADVANCED.md#options

[code]

[2018-09-18 04:37] wf9a5m75 commented on #98
Oh! It's worked perfectly! Thank you for taking your time. Do you have paypal account?

[2018-09-18 04:53] wf9a5m75 opened #101 "Add escape filter for three back-thrashes"
Thank you for resolving #98.
I really appreciate for your help. You saved my time a lot!

Let me ask one more thing.
Is it possible to escape the contents of three back-thrashes?

I would like to create a code example site with this module.
In order to manage `example code` and `actual code`, I would like to write `example code` in html side.

However because of Angular, it seems I have to write `

[2018-09-18 11:56] fluidsonic opened #102 "Add support for inline lexer"
I suggest to support inline markdown parsing which omits the surrounding `<p>` tag as this is not always desired.

Something like this:
`<markdown>**hey**</markdown>` -> `<p><strong>hey</strong></p>`
using `marked.parse`

`<markdown inline>**hey**</markdown>` -> `<strong>hey</strong>`
using `marked.inlineLexer`

See https://github.com/markedjs/marked/issues/395

[2018-09-18 12:44] jfcere commented on #98
I do have a PayPal account but no thanks, I'm glad I've could help ... totally free ;)

[2018-09-18 12:46] jfcere commented on #102
Seem's like a good idea I'll look into it!

[2018-09-19 01:30] jfcere commented on #101
#### Double curly braces
There is a [ngNonBindable](https://ng2.codecraft.tv/built-in-directives/ngnonbindable/) directive available that can be used to avoid _double curly braces_ to be compiled/bind.

[code]

#### Single curly braces
There is an [issue](https://github.com/angular/angular/issues/11859) an Angular repository about single curly braces that is throwing a compilation error even when

[2018-09-19 18:17] ghiscoding commented on #52
@BnSmth @jfcere
I had this problem too after just starting to use this and copying 1 of the markdown from the demo. In my case, the problem is that it seems to work **only** when the text is completely put on the left when using the ES6 syntax with the back tick.

So basically, this does **not** work
[code]

but this works
[code]

@jfcere
is that because of the ES6 syntax or is it a bug with this

[2018-09-19 18:42] jfcere commented on #52
@ghiscoding this is due to the fact that leading/trailing whitespaces are meaningful in markdown because they serve a purpose.

For this reason, when you are doing the following ... it means you want white spaces in front of lines 4 and up:

[code]

By doing the following ... you are removing leading spaces in front of lines 4 and up:

[code]

Honestly I always found it easier to use `src` input p

[2018-09-19 18:54] ghiscoding commented on #52
@jfcere
Thanks for the explanation, I guess that is why you added this new `ngPreserveWhitespaces` and delete the white spaces by default in the newer version. I guess what I could do on my side to quick fix this is to simply remove all white spaces myself from the variables. that should work too. I understand now thanks.

[2018-09-21 09:19] ooigheehong opened #103 "Syntax highlighting do not show up"
syntax highlighting do not work when I'm using *ngIf.
when *ngIf=true, syntax highlighting is working fine.
when *ngIf=false at the first time, then back to *ngIf=true, syntax highlighting is no working.

[2018-09-21 12:46] jfcere commented on #103
Hi @ooigheehong,

I tried to reproduce the issue in StackBlitz but it seems to work correctly: https://stackblitz.com/edit/ngx-markdown-issue103

Am I doing something different? Otherwise can you fork the StackBlitz and reproduce the issue?

[2018-09-24 20:12] ghiscoding commented on #85
Hello @RobynLiu @jfcere

Just so you guys know, I updated my repo of [Angular-Markdown-Editor](https://github.com/ghiscoding/angular-markdown-editor) to support Angular 4+ and I use `ngx-markdown` as my prefered Markdown Parser (though it's not a deep dependencies, so user can change if they want).

You can see the [demo](https://ghiscoding.github.io/angular-markdown-editor/reactive-editor) and [G

[2018-09-28 14:55] jfcere commented on #103
@ooigheehong have you fixed your issue?

[2018-09-29 16:58] jfcere commented on #56
Closing as @Jrubzjeknf is the best anwser ... TLDR: use `markdown` directive instead of component if you don't want style encapsulation.

[2018-09-29 16:58] #56 closed

[2018-09-29 17:01] jfcere commented on #85
Closing ... adding backlog tag for future reference

[2018-09-29 17:01] #85 closed

[2018-09-29 17:01] jfcere commented on #78
Closing ... adding backlog tag for future reference

[2018-09-29 17:01] #78 closed

[2018-09-29 17:01] jfcere commented on #90
Closing ... adding backlog tag for future reference

[2018-09-29 17:01] #90 closed

[2018-09-29 17:01] jfcere commented on #93
Closing ... adding backlog tag for future reference

[2018-09-29 17:01] #93 closed

[2018-09-29 17:02] jfcere commented on #102
Closing ... adding backlog tag for future reference

[2018-09-29 17:02] #102 closed

[2018-09-29 17:06] #94 closed

[2018-09-29 17:19] jfcere commented on #94
Issue has been fixed, please update to [v6.2.1](https://github.com/jfcere/ngx-markdown/releases/tag/v6.2.1)

[2018-10-09 15:05] dannylagrouw opened #104 "Compiler breaks on Renderer type definition"
Compiling our project that uses ngx-markdown (6.2.0) breaks on the type definition of marked.Renderer.list. Log excerpt:

[code]

This appears to be an issue in the underlying @types/marked that has been fixed in the source (see https://github.com/DefinitelyTyped/DefinitelyTyped/pull/29279). Could you update ngx-markdown with the fixed definition?

[2018-10-10 00:35] #104 closed

[2018-10-10 00:43] jfcere commented on #104
I've updated `@types/marked` to the latest, please update to [v6.2.2](https://github.com/jfcere/ngx-markdown/releases/tag/v6.2.2) to get the fix.

[2018-10-10 11:11] tmeghe opened #106 "Disable table styling"
Hello,
Is there a workaround to disable default table styling ?

It's currently set with
[code]
 which makes difficult to override style.

Do I have to override default table renderer with custom class (a little bit dirty) ?

Thanks,

[2018-10-10 12:42] jfcere commented on #106
Hi @tmeghe,

Applying style by default with `MarkdownComponent` is something I never really been sure of... still I was finding kind of _akward_ to have a table with no default format.

For right now I would say you can override using `!important`  rule but I am open to discussion and/or to rethink the fact of having default styling using `MarkdownComponent`.

[2018-10-10 12:44] tmeghe commented on #106
Hey @jfcere,
Thanks for the quick reply. I was asking that because unfortunately, `!important` tag doesn't override the default styling... I think I tried almost all possible workarounds but I'm not sure to succeed without removing the styling applied by default.

[2018-10-10 19:06] ggrebert opened #107 "XSS injection img"
XSS injection possible when interpreting HTML content on "onerror" attribute with "img" balise.

example:

[code]

[2018-10-10 19:33] jfcere commented on #107
Have you tried to specify `sanitize: true` with `MarkedOptions` when configuring `MarkdownModule`?
You can look at this comment for more details: https://github.com/jfcere/ngx-markdown/issues/65#issuecomment-388642548

[2018-10-10 21:04] ggrebert commented on #107
Thx @jfcere

[2018-10-10 21:04] #107 closed

[2018-10-11 15:06] safo6m opened #109 "Sanitizing markdown input"
Hi @jfcere,

in the Readme there is an option `sanitize` but that is not used anywhere in the code. There is also sanitize-html branch which was never merged into master.

What is a plan regarding sanitizing?

[2018-10-11 16:02] jfcere commented on #109
Hi @safo6m,

The `sanitize` option must be specify by providing `MarkedOptions` when importing `MarkdownModule`. The `MarkedOptions` is used to parse the markdown (see [lib/src/markdown.service#L38](https://github.com/jfcere/ngx-markdown/blob/master/lib/src/markdown.service.ts#L38)).

[code]

[2018-10-11 16:09] safo6m commented on #109
Correct, but `marked` is using `sanitizer` function for that purpose and the default value of that function is `null` which means that `sanitize` flag does not do anything by itself.

Am I missing something?

[2018-10-11 17:11] jfcere commented on #109
Ohhh this totaly went under my radar 😱 ...

![image](https://user-images.githubusercontent.com/6987084/46820663-c2908c00-cd54-11e8-83f4-7e800387eb6e.png)

My understaing was totally wrong as I thought they were in fact sanitizing it when specify but were alowing to provide a function to override their sanitization.

I created a StackBlitz example to validate it: https://stackblitz.com/edit/ngx-mar

[2018-10-12 00:16] #109 closed

[2018-10-12 00:19] #106 closed

[2018-10-12 00:35] jfcere commented on #109
I've added angular `DomSanitizer` when `MarkedOptions` specify `sanitize` to `true` but not `sanitizer` function is provided. That way people have the choice to use the sanitizer they want or use angular one.

This has been released in [v6.3.0](https://github.com/jfcere/ngx-markdown/releases/tag/v6.3.0).

[2018-10-12 00:36] jfcere commented on #106
I've removed all styling from `markdown` component.

This change has been released in [v6.3.0](https://github.com/jfcere/ngx-markdown/releases/tag/v6.3.0).

[2018-10-12 00:37] jfcere commented on #103
Closing issue for inactivity and the reported issue seems to work correctly.
If you still have the issue please provide a StackBlitz example that reproduce the problem.

[2018-10-12 00:37] #103 closed

[2018-10-12 05:41] tmeghe commented on #106
It's working great 👍  Thanks a lot for being that fast ;)
Cheers

[2018-10-17 18:10] nextlevelshit opened #111 "Meta Data is not supported"
Often you write markdown files including some meta data. The defacto standard is to write YAML'ish lists of meta information separated from the main content:

[code]

Do you plan to implement that feature? @ninjabachelor already wrote some similiar code, but is not compatible ES6 code: https://github.com/ninjabachelor/markdown-yaml-metadata-parser

[2018-10-19 08:06] drdmitry opened #112 "Angular 7 compatibility"
When using `ngx-markdown` with Angular 7, npm shows warning messages during the `npm install`:

In `package.json` it is:

[2018-10-19 12:54] jfcere commented on #112
Angular 7 is freshly baked, I'll do the update during the weekend that will remove the warnings.

[2018-10-20 19:39] #112 closed

[2018-10-20 20:16] jfcere commented on #112
The update to Angular 7 is done, please update `ngx-markdown` to [v7.0.0](https://github.com/jfcere/ngx-markdown/releases/tag/v7.0.0).

[2018-10-26 16:54] maxime1992 opened #114 "Title link not present anymore?"
Hi,

I've been upgrading ngx-markdown withing my app from `6.1.0` to `7.0.0` and my E2E tests caught a regression.

A title doesn't seem to generate an anchor anymore. Surprisingly it does on your stackblitz:

![image](https://user-images.githubusercontent.com/4950209/47580871-f15b5480-d947-11e8-9190-4d1a88139bba.png)

But also noticed that there's a different behavior on your doc :thinking:
![ima

[2018-10-26 16:57] maxime1992 opened #115 "Semver ?"
While upgrading from 6.1.0 to 7.0.0, reading the following:

![image](https://user-images.githubusercontent.com/4950209/47581080-6595f800-d948-11e8-9d19-c3dbbe82ca9e.png)

I thought that there would be no problem at all. Find out after that that there was breaking changes in the meantime.

![image](https://user-images.githubusercontent.com/4950209/47581047-4f883780-d948-11e8-998a-d020c30cb8ce.png)

[2018-10-26 17:38] jfcere commented on #114
Hi @maxime1992,

Hmm I don't see any difference in the behavior between Stackblitz and the demo ... it takes the text inside the heading tag and stringifies it to generate the id.

If you are talking about the `anchor` class don't be fooled by the renderer override done for the demo purprose ...
https://github.com/jfcere/ngx-markdown/blob/250ab401344ea1919fc87f941fad3061a9d42c77/demo/src/app/app.c

[2018-10-27 15:07] jfcere commented on #115
Point taken, sorry for the inconvenience 😞

[2018-10-27 15:07] #115 closed

[2018-10-27 15:20] jfcere commented on #111
Hi @nextlevelshit,

I guess if I expose the lexer this customization could be done as my understanding is that this would provide a way to define new token to be used by the parser.

[2018-10-27 18:45] maxime1992 commented on #115
No worries :)!

Thanks for the library BTW! :clap:

[2018-10-30 20:15] jfcere commented on #114
Closing as everything seems alright, let me know if I'm wrong and the issue is not resolved.

[2018-10-30 20:15] #114 closed

[2018-11-12 11:49] swaner opened #116 "Server side rendering, document is not defined"
Issue when using SSR using node and latest version of ngx-markdown. Document is not valid on server context. https://github.com/jfcere/ngx-markdown/blob/master/lib/src/markdown.service.ts#L60

ngx-markdown: 7.0.0
Angular CLI: 7.0.5
Node: 10.12.0
OS: darwin x64
Angular: 7.0.3

`ReferenceError: document is not defined
    at MarkdownService.decodeHtml (/Users/johansvanborg/dev/Coursify.Angular/dist/

[2018-11-12 13:58] jfcere commented on #116
Hi @swaner,

Thanks for pointing that out, this is an easy fix to do, I will do it soon and release a fix.

[2018-11-13 04:03] jfcere commented on #116
I've fixed the issue, you can update to [v7.0.1](https://github.com/jfcere/ngx-markdown/releases/tag/v7.0.1)

[2018-11-13 13:19] jfcere commented on #116
Can you try this beta release to see if it fixed this error?

[code]

[2018-11-13 14:15] swaner commented on #116
Got a new error this time, now the error occurs in Prism:
**document not defined** prism.js:178
https://github.com/jfcere/ngx-markdown/blob/master/lib/src/markdown.service.ts#L57

Stacktrace:
`ReferenceError: document is not defined
    at Object.highlightAll (/Users/x/dev/Coursify.Angular/dist/server.js:201210:23)
    at MarkdownService.highlight (/Users/x/dev/Coursify.Angular/dist/server.js:1986

[2018-11-13 14:39] swaner commented on #116
Yes, it works! Great job, I thought the issues would keep on arriving ;). SSR is a pain in that way.

Tested some different pages fetched from a CMS and they all work now.

[2018-11-13 14:49] jfcere commented on #116
Ok great, thank you for your help and your patience!
I am not configured to test for server-rendering ... I'll put this on my _to-do list_ for the future.

I'm going to release v7.0.2 to fix it instead of leaving the beta versions tonight.

[2018-11-13 22:49] #116 closed

[2018-11-13 22:53] jfcere commented on #116
Fix released as [v7.0.2](https://github.com/jfcere/ngx-markdown/releases/tag/v7.0.2)

[2018-11-16 04:34] simeyla opened #119 "Chrome keeps going to MarkedRenderer.ts breakpoint"
If I even *attempt* to put a breakpoint in Chrome **anywhere in my normal angular code in the same module that loads ngx-markdown** then Chrome will jump instantly to this view:

![image](https://user-images.githubusercontent.com/3656278/48597902-10c91a00-e915-11e8-8605-cdadf72f9f33.png)

I can remove the blue breakpoint, and blackbox the script but it will always reenable itself and come back her

[2018-11-22 12:45] rweng commented on #40
Actually, this doesnt work. Instead, you need to use an object if you want to use globs

[code]

see also https://github.com/angular/angular-cli/wiki/stories-asset-configuration

[2018-11-28 13:36] binu101 opened #120 "Query URL params change output"
I was having a struggle with de [src] remote URL option not rendering correctly.

I found out that our cache busting ?v=versionnumber query parameter was confusing the markdown renderer.

I simply removed the query param for this case,but it would be awesome if you could allow query parameters to be ignored!

:)

[2018-12-03 01:24] raspyweather opened #121 "Displaying a remote markdown with images"
While it works fine providing a markdown file hosted e.g. on github with the src attribute, relative paths do not work, since ngx-markdown uses the base url for resolving relative paths.
[Little demo](https://plnkr.co/edit/tlp8JGOD43PURkfhoiV1?p=preview) , click on the Code of Conduct Link and it won't work because it should link to
 ```https://github.com/Microsoft/vscode/CODE_OF_CONDUCT.md```
but

[2018-12-03 17:54] joeskeen opened #122 "Automatically re-render markdown when renderer settings change"
We have a use-case where we would like to have a user-defined setting that affects the markdown rendering.  I was able to use the `MarkdownService.renderer` to change the behavior of rendering certain elements when those settings change; however, the markdown does not re-render until the source markdown changes.  My workaround was to append the markdown with a zero-width space character, then use

[2018-12-06 15:55] mrtes commented on #103
Just in case someone else has this problem:

The issue here is, that Prism runs syntax highlighting on all elements with the correct selector, which are  **in the DOM** when highlighting is initiated.
If the element is not in the DOM at this point in time (e.g. due to `*ngif=false`) it will not get highlighted.
The solution in this case is to 're-highlight' the elements when they are added to the

[2018-12-06 17:10] jfcere commented on #103
I would have to test it again with a breakpoint in the `markdown` component but I am pretty sure that once the `*ngIf` turns _true_ Angular process the bindings and Prism syntax highlight is applied ... as I demonstrated with the StackBlitz example: https://stackblitz.com/edit/ngx-markdown-issue103

@mrtes could you provide an example where it does not work forking the StackBlitz example above?

[2018-12-06 17:43] jfcere commented on #119
@simeyla sorry for the delay...

I never experienced this problem and it doesn't seem to be present either in the StackBlitz example: https://stackblitz.com/edit/ngx-markdown

Are you still having the issue?
Is the issue present for you on the StackBlitz example above?

[2018-12-18 09:56] stupkad opened #124 "How to use prism plugins?"
Hi,

i am useing ngs-markdown in compbination with prism to show source code within my applicaiton, it works  almost perfectly.

What is the best way to use prism plugins like line numbering? I have tried including the css/js, but do not know howto bring in the "line-number" style?

Any ideas?

Regards,
Dietmar

[2018-12-28 19:12] jfcere commented on #119
Closing for inactivity and I am unable to reproduce the problem.

[2018-12-28 19:12] #119 closed

[2019-01-02 22:07] craig-dae opened #125 "Angularize the output markdown input for the purpose of links"
We are creating a knowledge base using markdown and would like to be able to navigate between the different pages using markdown links.

I want to be able to do like: `[click this link](routerlink#./other%20document.md)` or something like that and have it render as `<a [routerLink]="['./other document.md']">click this link</a>`

I can do that using the renderer, but Angular doesn't pick up the rou

[2019-01-03 21:55] rreddyNg opened #126 "TaskLists (GFM Style) not working with pipe"
Is there a way to add an option to enable TaskLists (GFM Style)?

For Instance:
 "-[x] checked list item
  -[ ] unchecked list item" that turns to

 - [x] checked list item
 - [ ] unchecked list item

[2019-01-10 19:35] markmakes opened #128 "Italics across two words resulting incorrect markdown conversion"
When the scenario below occurs (highlighting in the middle two words separated by a space).

![markdown-bug](https://user-images.githubusercontent.com/503721/50992203-1f2e4f00-14dc-11e9-89df-e901c790d189.jpg)

The markdown generated by the turndown plugin is fine:

`Sim_ple te_st.\n\nSim**ple te**st 2.\n\nWorking _italics_.`

But when the above string is converted back to HTML from markdown, you'l

[2019-01-11 01:44] jfcere commented on #128
According to [GitHub Flavored Markdown Spec](https://github.github.com/gfm/#emphasis-and-strong-emphasis) ...

So for your example to work you would have to write ...

[code]

You can see it working in this [StackBlitz example](https://stackblitz.com/edit/ngx-markdown-issue-128)

[2019-01-11 14:56] markmakes commented on #128
Sounds good! Appreciate the help @jfcere

[2019-01-11 14:56] #128 closed

[2019-01-13 20:00] #124 closed

[2019-01-13 20:55] jfcere commented on #124
I've added support for the following Prism.js plugins
- Line-Numbers
- Line-Highlight

Update ngx-markdown to [v7.1.0](https://github.com/jfcere/ngx-markdown/releases/tag/v7.1.0) and follow [README.md](https://github.com/jfcere/ngx-markdown#line-numbers-plugin) plugins instructions.

[2019-01-16 17:10] ghiscoding opened #130 "Latest version 7.1.0 with highlight() method requires a new argument that breaks my code"
The PR #129 breaks my code in the sense that `highlight()` now as a required `element` argument which was not there before. This makes it quite hard in my code since I use markdown in dynamically created tabs (for multiple locale handling) and I don't have element references. This makes the use a lot harder, at least on my side, would it be possible to make that field as optional so I could use it

[2019-01-16 17:38] jfcere commented on #130
Hi @ghiscoding,

Sorry about the breaking changes, I've added the `element` parameter to get a performance gain and make sure not every code block in the page are processed every time the `markdown` component/directive get evaluated.

Sure I can make the parameter optional, this will offer more flexibility over the `MarkdownService`. I'll do the modification tonight and make a release for it ... I

[2019-01-16 18:02] ghiscoding commented on #130
@jfcere
That would be really great, your lib is awesome :)

[2019-01-16 23:19] #130 closed

[2019-01-17 01:08] ghiscoding commented on #130
Thanks a lot, that seems to be all good :)

[2019-01-24 07:32] steve3d opened #132 "MarkdownPipe has been invoked with an invalid value type [undefined] error"
I believe this is a perfect normal behavior in angular, we fetch something in `OnInit` then the view update with correct final value, but ngx-markdown thinks this is error.

so this package should correctly handle the `null` and `undefined` value to the pipe and all other components.

so please fix this `normal behavior`

[2019-01-24 07:36] steve3d commented on #132
for example in file `markdown.pipe.ts` just add these lines at first will avoid this behavior
[code]

[2019-01-26 19:17] #132 closed

[2019-01-26 19:43] jfcere commented on #132
Hi @steve3d,

First of all, thanks for reporting the issue. This isn't something hard to fix and it makes a lot of sense.

Second, be carefull about how you report issues! I am not making any money with this open source project and I'm freely giving my time to address problems and answer questions... I don't owe you anything.

Contribution via pull requests are always welcome as long as they follo

[2019-01-27 06:50] steve3d commented on #132
Thanks, next time I'll make a PR

[2019-01-30 01:54] jfcere commented on #120
Query string parameters are now ignored when resolving external file extension, thanks to @shawnostler for submitting the PR that resolved the issue.

Please update ngx-markdown to [v7.1.3](https://github.com/jfcere/ngx-markdown/releases/tag/v7.1.3) to get the fix.

[2019-01-31 08:41] eranshmil commented on #126
You need to add a space before the brackets.
Working for me, but the list bullets are shown.
![image](https://user-images.githubusercontent.com/9721664/52042016-bbc89780-2544-11e9-9080-bc3887ac5b37.png)

[2019-02-03 11:33] ben4d85 commented on #40
Right, so the simplest way for me is to do the following:

- Create a new directory `md` under the default `assets` directory
- Move all your .md files into that `assets/md` directory
- Include the desired markdown file into your html file by using `<markdown [src]="'assets/md/' + file.filename + '.md'"></markdown>`

[2019-02-07 00:27] ravindrap123 commented on #126
@eranshmil  Thank you for your comment, yeah you are right, it is working when used as a component.
For example:  `<markdown [data]="markdown"></markdown>`
but not with pipe,
For Example:  `<div [innerHTML]="text | markdown"></div>`

However, I am okay to use as component for now. Once thank you for letting me know to add space before the brackets.

[2019-02-25 13:49] StefanKern opened #135 "linenumbers not working with [data] attribute"
When using a [data] attribute, the lineNumbers are not working.

Minimal example:
[code]
(json = '{"hello": "world"}')

[2019-02-25 13:55] jfcere commented on #135
Hi @StefanKern, thanks fore reporting the issue, I'm going to take a look at it tonight.

[2019-02-25 13:56] StefanKern commented on #135
@jfcere thanks. The problem can be reproduced in the demo project. I tried a stackblitz but gave up.. if you need anything more please say so :)

[2019-02-26 03:33] jfcere commented on #135
I've released a beta version so you can confirm problem is fixed on your end.
Please update `ngx-markdown` to `7.1.4-beta.0` and keep me posted.

[2019-02-26 08:50] StefanKern commented on #135
I can confirm, that it works:
![image](https://user-images.githubusercontent.com/2032760/53399238-dfe49080-39ab-11e9-9bab-799da6ee0317.png)

[2019-02-26 13:27] jfcere commented on #135
Great thanks for the feedback, I'm going to release it as 7.1.4 tonight.

[2019-03-01 02:59] #135 closed

[2019-03-01 03:07] jfcere commented on #135
Fix is officially released, you can update `ngx-markdown` to [v7.1.4](https://github.com/jfcere/ngx-markdown/releases/tag/v7.1.4).

[2019-03-05 20:43] alexander-myltsev commented on #68
I'd like to render math formulas in my MD files. @avelow and @jfcere , any updates on what configs should I apply to make Katex, Mathjax, or whatever to render math formulas in ngx-markdown?

[2019-03-06 06:12] avelow commented on #68
I am sorry, I am no more trying to implement it.

[2019-03-08 07:12] popoleeMaster opened #137 "Not all markdown works correctly."
on ngx-markdown page Demo, you display the markdown available that should work from scratch when you use ngx-markdown ==> https://jfcere.github.io/ngx-markdown/

There is the lists markdown formatting like the following =>

In my application, some of those markdown doesn't work, so I tried on stackblitz :
[https://stackblitz.com/edit/angular-tpycrc](url)

But even there,
⋅⋅* Unordered sub-list.
⋅⋅

[2019-03-08 13:36] jfcere commented on #137
Hi @popoleeMaster,

In order to show indendations what should be done with _white spaces_ it is shown by using _dots_ in the example.

![image](https://user-images.githubusercontent.com/6987084/54031572-217bf500-417d-11e9-86c4-4313a35d7d58.png)

So basically the following...

[code]

Should be ...

[code]

[2019-03-09 04:45] simeyla commented on #56
What Angular really needs is a new mode `ViewEncapsulation.Inherit` for components like this.

Normally with `Emulated` encapsulation, a component (such as yours that is hosting the `markdown` component / directive) creates attributes that it puts on EVERY DOM element - something like `ngcontent-c10`.

These attribute names are created by the [Angular renderer](https://github.com/angular/angular/b

[2019-03-09 14:16] ganeshkbhat opened #138 "Argument of type '{ provide: typeof MarkedOptions; useValue: { sanitize: boolean; }; }' is not assignable to parameter of type 'MarkdownModuleConfig'"
When trying to upgrade to 7.3.x, and the library to latest version , I am getting an error :+1:

[code]

The import is :+1:

[code]

It works fine with :

[code]

[2019-03-09 18:04] jfcere commented on #138
Hi @ganeshkbhat,

As per `ngx-markdown` [v6.0.0](https://github.com/jfcere/ngx-markdown/releases/tag/v6.0.0) parameters for the `MarkdownModule.forRoot()` have changed to be able to pass and instance of `HttpClient` to the module so it doesn't interfer with HTTP Interceptors as reported in this issue https://github.com/jfcere/ngx-markdown/issues/70.

Here is the signature for the `MarkdownModule.f

[2019-03-15 16:28] jfcere commented on #137
Closing the issue ... let me know if it doesn't answer your question correctly.

[2019-03-15 16:28] #137 closed

[2019-03-15 16:28] jfcere commented on #138
Closing the issue ... let me know if it doesn't answer your question correctly.

[2019-03-15 16:28] #138 closed

[2019-03-16 22:12] Stradivario opened #140 "Prism.highlightAllUnder is not a function"
The component works correctly but throws this error inside the console.

[code]

@angular/core 7.2.0

Hope it helps

Regards!

[2019-03-17 00:00] Stradivario commented on #140
It was related with different version of Prism installed on inside angular.json.

Regards to your hard work!

[2019-03-17 00:00] #140 closed

[2019-03-23 20:02] calamarico opened #141 "Rendering tasks list the checkbox input is disabled by default"
I'm working on 6.3.3 version, and using markdown as component, like this:

```<markdown [data]="checklistsPoints"></markdown>```

Using tasks list in the markdown, for example:

[code]
The rendered html is disabling those input (type="checkbox") by default:

Screen capture for the rendered elements:
![snapshot](https://user-images.githubusercontent.com/2332886/54871034-b2beae80-4dae-11e9-9c30-d4f6

[2019-03-24 01:35] jagyas opened #142 "angular universal prerendered app deployed on github pages giving 404 for .md files which contains metadata in yml form"
I am using angular universal pre-render app and deploying static files on github pages and observed one behavior. If .md file contains metadata in yml form (I am using netlify cms to generate .md file) XMLHttpRequest gives 404 while loading .md file. Same file works normal when running on local without pre render the application. And after removing metadata, prerender one also works fine. Could an

[2019-03-26 01:52] jagyas commented on #142
It seems to be some issue at github pages side. Any ways I moved to Netlify and it is working fine. Thanks :)

[2019-03-26 01:52] #142 closed

[2019-03-26 04:44] ardcsr opened #143 "Navigation bar by heading"
It can create Navigation bar by heading as dropbox
![Screen Shot 2019-03-26 at 11 42 53](https://user-images.githubusercontent.com/28861186/54972091-782a6100-4fbc-11e9-8def-7b3556a6cd3c.png)

[2019-03-26 09:49] #143 closed

[2019-03-29 12:01] jeserkin opened #144 "Text underline option missing in Emphasis area"
Text underline option missing in Emphasis area

[2019-03-31 16:55] jfcere commented on #144
Hi @jeserkin,

There is no markdown support for underline but HTML is supported out of the box. Therefore you can set underline text using `<u>` tag ...

[code]

The above example would result in ...

![image](https://user-images.githubusercontent.com/6987084/55292065-33d00400-53b4-11e9-8398-eb753e955c09.png)

Here is a working example for different possible syntax for bold, italic and underline:

[2019-04-02 16:36] #144 closed

[2019-04-03 13:54] alexandermikuta opened #145 "Including Authenticated Images"
I have a little question.
Our images are secured per user and only accesible when a valid authorization-header is send.
I assume that ngx-markdown only support simple links for images, like e.g.

`![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")`

Is there an easy way to get authenticated images into ngx or do we have to use webworker

[2019-04-03 21:54] jfcere commented on #145
Hi @alexandermikuta,

There is no _built-in_ solution to add headers while fetching remote content via generated markdown.

The_ easiest way to add headers while fetching images, or any remote resources would be the Angular way ... which is to add an [interceptor](https://angular.io/guide/http#intercepting-requests-and-responses) and add the needed request headers.

[2019-04-04 05:45] henrikcomes opened #146 "Code not Highlighting when no language is provided"
When i write no language name after the three back ticks it won't get recognized as code.
[This](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting) Cheatsheet indicates it should work

[Here](https://stackblitz.com/edit/ngx-markdown-8bpf95?file=src%2Fapp%2Fapp.component.ts) is a working StackBlitz.

[2019-04-04 11:13] jfcere commented on #146
Hi @henrikcomes,

This indeed looks like a bug, i'll take a look at it tonight.

[2019-04-05 01:43] jfcere commented on #146
As a follow up, I've checked through Prism issues and it seems to be supposed to highlight the code block without having to specify a language.

I am waiting for an answer, if it is not supported out-of-the-box i'll try to make a fix around that to make it works.

In the meanwhile, if you write anything after the _ticks_ (as per your example) it will render as a code block.

I'll keep you informed

[2019-04-05 12:45] henrikcomes commented on #146
Thank you for looking into it!

[2019-04-06 18:28] #146 closed

[2019-04-06 18:38] jfcere commented on #146
Update `ngx-markdown` to [v7.1.5](https://github.com/jfcere/ngx-markdown/releases/tag/v7.1.5) to get the fix.

[2019-04-06 18:50] jfcere commented on #145
Closing, let me know if there is anything.

[2019-04-06 18:50] #145 closed

[2019-04-07 19:10] bees4ever opened #148 "Using together with Angular Materials breaks on Firefox"
Hello there,

thank you for the great plugin. I have a strange behavior with this markdown plugin on firefox, what I can not explain. If someone here know where I can look, it would be great to know.

I use the markdown module inside a ``mat-form-field`` like this:

[code]

Everything works fine, except if I typing backticks, the giff shows, that there is some overwriting. Without  a ``mat-form-fi

[2019-04-07 20:51] vitaminac opened #149 "customize baseUrl in each component"
I need to define different **baseUrl** option described in marked documentation in each component, the global configuration doesn't suit for my case.

In each instance of a component, I will render different markdown that takes resources from different relative links, for example for each user the baseUrl won't be the same

Have I another solution?

[2019-04-09 02:39] learnwell opened #150 "Getting lineNumbers to work on StackBlitz"
I forked the [provided stackblitz sample](https://stackblitz.com/edit/ngx-markdown) but despite configuring `angular.json` file, lineNumbers aren't working. Here's the [forked stackblitz example](https://stackblitz.com/edit/try-ngx-markdown) as an example, could it be that there are some details missing from the current documentation that are needed to make it work?

[code]

[code]

[2019-04-10 00:18] jfcere commented on #150
Hi @learnwell,

StackBlitz doesn't include the files specified int the `scripts` section of the ` angular.json` as you can see in those opened issue:
- https://github.com/stackblitz/core/issues/407
- https://github.com/stackblitz/core/issues/700

In order to be able to use external scripts with Angular in StackBlitz you have to use `import` statement in your application like this (in your `AppModu

[2019-04-10 00:24] jfcere commented on #149
Hi @vitaminac,

The `baseUrl` property available in the `MarkedOptions` is meant to defined as global.

Aren't you able to just set your different URLs directly into the `src` property of the `markdown` component/directive and avoid using the `baseUrl` configuration option?

[2019-04-10 11:55] jfcere commented on #148
Hi @bees4ever,

I created a minimal example on StackBlitz and I cannot reproduce the issue with Firefox...

![ngx-markdown-issue-148](https://user-images.githubusercontent.com/6987084/55876523-d8e19e00-5b65-11e9-817d-b35ac16a4bfd.gif)

StackBlitz is available here: https://stackblitz.com/edit/ngx-markdown-issue-148

[2019-04-10 23:38] vitaminac commented on #149
I save a document (markdown) in the database as a string for now, so it does suites for my case. I can make refactorization in the backend to return MD with a URL, but even so, it doesn´t make sense to my application, save images and markdown in the same folder. I´ve separated document, and resources into the diffrent locations.

[2019-04-10 23:44] jfcere commented on #149
Glad you found a workaround! Can we close the issue?

[2019-04-10 23:47] jfcere commented on #141
Hi @calamarico,

Sorry for the delay but I tried twice to find some information about enabling checkbox through markdown but could not any (on marked.js repository, stackoverflow or anywhere on the web).

Does it even make any sense to enable checkboxes if there is no action behavior that can be connected to it?

[2019-04-10 23:51] vitaminac commented on #149
Yes, of course, I will close the issue for now, but the solution isn't a very good option for me.

[2019-04-10 23:54] jfcere commented on #149
Ok, i'll leave it open and add according tags if I ever get an idea of find a way to make this easier.

[2019-04-11 08:34] bees4ever commented on #148
Hi @jfcere,

thank you for the example. With my firefox I am able to break it :D. It is strange. With Chrome I have no problems.

I am using Mac OS X 10.14.1 with Firefox  66.0.3:

<img width="899" alt="Bildschirmfoto 2019-04-10 um 15 17 47" src="https://user-images.githubusercontent.com/21102167/55942477-b96d7280-5c44-11e9-9bad-a3f803dbb642.png">

My gif looks like this. If I modify the loaded st

[2019-04-11 08:54] Eriice commented on #148
@jfcere Hi, I am so interesting about your demo in [StackBlitz](https://stackblitz.com/edit/ngx-markdown-issue-148).
It seems you import the third-party lib by "some way"  in your demo instead of as the document said. How did you do that.

![image](https://user-images.githubusercontent.com/14818951/55943669-98734480-5c79-11e9-93fb-7027b019b50a.png)

![image](https://user-images.githubusercontent.c

[2019-04-11 12:15] calamarico commented on #141
Hi @jfcere,

Thanks for the reply and don't worry for the delay, I understand and I thank you for the time you have dedicated.

I was thinking about you said, and you are right. If no behaviour action is defined, have any sense enable by default? It's true. As my particular implementation it's only a view template, in the way of a "todo list" for the user can "check/uncheck" but only in a "visual"

[2019-04-14 15:12] Eriice opened #151 "Can't import the theme."
I use angular-cli and follow the document to import the themes, but it seems did not achieve the expected results. [The stackblitz demo as follow](https://stackblitz.com/edit/angular-4foybr). Not only in stackblitz but also in local development environment I face this problem.

The above demo was fork by [stackblitz Demo](https://stackblitz.com/edit/ngx-markdown-issue-148), and it works well. I no

[2019-04-14 16:03] jfcere commented on #151
Hi @Eriice,

Once upon a time in StackBlitz, there was a way to add CDN links to the project but the feature has been removed.

[2019-04-14 16:46] jfcere commented on #141
You're welcome :)

[2019-04-14 16:46] #141 closed

[2019-04-14 16:48] jfcere commented on #148
I tested on the same FireFox version but on Windows 10.

[2019-04-15 03:33] Eriice commented on #151
Thanks for your help, This solved my confusion:)

[2019-04-15 11:53] #151 closed

[2019-04-15 12:43] bees4ever commented on #148
I will ask some colleague, how it look on his Mac, it can take some days until I will do it, but I will write what we found out

[2019-04-17 11:34] jfcere commented on #150
Closing the issue, let me know if there is anything.

[2019-04-17 11:34] #150 closed

[2019-04-19 03:01] learnwell commented on #150
Thank you that worked. Also stackblitz was auto-installing some strange `9000` version of prismjs so explicitly specifying `"prismjs": "1.16.0",` also helped 👍

[2019-04-19 22:07] hsw107 commented on #149
@vitaminac If you used the `src` attribute, you could make the URL dynamic, based on username for instance, or have a service that figures out the url for the markdown component to call. Not sure if that makes sense/helps.

[2019-04-29 16:23] mkhuda opened #152 "Compile Failed on Angular 7"
Hi, I have following problem when using `ngx-markdown` with --aot build.
[code]
![image](https://user-images.githubusercontent.com/738088/56910628-39b12600-6ad5-11e9-8e4d-6d59df571c2b.png)

I have followed the installation for just basic use. Here is my package.json (dependencies section):
[code]

[2019-04-29 16:33] jfcere commented on #152
Hi @mkhuda,

Thanks for reporting the issue, I'll take a look at it tonight.

[2019-04-29 16:48] mkhuda commented on #152
Wow.. the issue was resolved, i have uninstalled `markdown-to-html-pipe` package and re-install `ngx-markdown`. Thanks

[2019-04-29 16:48] #152 closed

[2019-04-29 17:24] jfcere commented on #152
Oh alright, probably due to the fact that both used different version of @types/marked ... thanks for the follow up!

[2019-05-26 17:54] mrusme commented on #68
I also would like to able to be able to write LaTeX blocks inside Markdown and have ngx-markdown render them through Katex or Mathjax. I thought about implementing it as code block with `latex` as language parameter, e.g.:

[code]
[code]

[2019-05-29 17:12] pshields opened #153 "Allow zone.js v0.9.x as a peer dependency"
Angular v8 has been released.

When I run `ng update @angular/core` on an app that uses ngx-markdown, I get the following error:

[code]

It looks to me like ngx-markdown should be updated to allow zone.js 0.9.x as a valid peer dependency.

[2019-05-29 17:14] mthomasson opened #154 "Render an iframe instead of a link"
Hi there!
First of all, thanks for this amazing plugin!

I am trying to render some specific links differently than the normal ones.

I overrode the renderer for links the following way:
[code]

However, the iframe never shows up (I only see an empty ```<p>```  tag instead)

[2019-05-29 17:38] jfcere commented on #153
Hi @pshields,

Thanks for the heads up!
I am going to work on the update for Angular 8 tonight.

I'll post back when the package will be released.

[2019-05-30 01:07] #153 closed

[2019-05-30 01:56] jfcere commented on #153
Library has been updated to support Angular 8, please update to [v8.0.0](https://github.com/jfcere/ngx-markdown/releases/tag/v8.0.0)

[2019-05-30 03:30] PaluMacil opened #158 "Update dependencies for Angular 8"
If you run `ng update @angular/cli @angular/core` from an Angular 7 project, you get this error:

Package "ngx-markdown" has an incompatible peer dependency to "zone.js" (requires "^0.8.26", would install "0.9.1").

[2019-05-30 03:54] pshields commented on #158
This was recently addressed in the latest release of ngx-markdown; try updating your ngx-markdown dependency to the latest version (8.0.x).

[2019-05-30 04:00] pshields commented on #153
After switching to the latest ngx-markdown release, I was able to move forward with updating to Angular v8. Thanks for the quick update, @jfcere! :grinning:

[2019-05-30 17:52] Favna opened #159 "Unable to compile when enabling Ivy (Angular 8)"
I upgraded to Angular 8 today and I decided to try out Ivy. However when my code goes through compiling it fails to do so with ngx-markdown being the last package it is processing, making me assume that it's the cause of the compilation error. Here is the initial build log:

[code]

And after that I ran it with `--verbose` which produced this massive log: https://gist.github.com/Favna/9aede2b41398

[2019-05-30 19:42] PaluMacil commented on #158
It looks like I tested and then took too long to post this. Thanks!

[2019-05-30 19:42] #158 closed

[2019-05-31 01:55] jfcere commented on #159
Hi @Favna,

Could you please try `ngx-markdown@8.0.2-beta.0` beta version and tell me if it fixes your problem?

[2019-05-31 08:28] mthomasson commented on #154
PS
If it is really a bug, I'd be glad to help to solve it :)

[2019-05-31 10:12] adrogon commented on #159
I confirm the lib now compiles with `ngtsc`.

[2019-05-31 12:59] jfcere commented on #154
Hi @mthomasson,

Sorry for the delay, your issue came up at the same time as Angular 8 update so I had to prioritize.

Marked seems to sanitize iframes and scripts out of the HTML generated, you can take a look at this related issue: https://github.com/markedjs/marked/issues/861

Workaround suggests to either generate your iframe dynamically or set `sanitize: false` in [markedOptions](https://gith

[2019-05-31 16:09] Favna commented on #159
I can confirm the module compiles successfully after the upgrade to 8.0.2-beta.0. I suppose whether this issue has to stay open or not depends on the ivy-ngcc issue referenced above here by adrogon, but in the bigger picture it's resolved.

[2019-05-31 16:21] jfcere commented on #159
Bah honestly I think the code is cleaner without the spread operator so it's not a big deal, although it might be fixed by Angular I will release the beta as official 8.0.2 ... i'll keep you posted.

In the mean while feel free to experiment Ivy with 8.0.2-beta.0

[2019-05-31 16:26] Favna commented on #159
Sadly other libraries gave me ivy issues now so I disabled it again, specifically @angular/fire and @angular/flex-layout for now. Checking their repos they already got open issues. I suppose it'll just be a matter of waiting for Ivy to become more stable since the Angular team promised it would be backwards compatible.

And with those libs not even compiling I cannot check if there is anything els

[2019-05-31 16:31] jfcere commented on #159
Yikes ... yeah, I guess nobody saw that spread operator bug coming!

[2019-06-01 18:40] #159 closed

[2019-06-01 19:05] jfcere commented on #159
Fix has been officially released in [v8.0.2](https://github.com/jfcere/ngx-markdown/releases/tag/v8.0.2)

[2019-06-04 15:37] mthomasson commented on #154
Works like a charm!
Thank you!!
And great lib btw!!

[2019-06-04 15:37] #154 closed

[2019-06-07 12:23] jfcere commented on #148
@bees4ever I wanted to do a follow up since its been a while now... have you ever had time to compare the behavior with a colleague or find anything else related to the issue?

[2019-06-07 18:35] raf64flo opened #161 "URL anchors not handled"
Hello,

I've a markdown document loaded from assets of the application (via remote src). The md file contains inner links via simple HTML anchors such as: `a [name](#name)...`

Those are not resolved correctly and links to the host root (ie. `http://localhost:4000/#name`) instead of keeping the page's URL, expecting : `http://localhost:4000/help#name`

I've tried to give it a specific `baseUrl: '/

[2019-06-07 18:44] jfcere commented on #161
Hi @raf64flo, using pure HTML anchor tag should fix your issue

[code]

[2019-06-12 09:42] bees4ever commented on #148
@jfcere Sorry, I did not had time to do this. The project has a break for some month now. You may can close the issue, I will maybe reopen or make a new one, if it is ok.

Thank you

[2019-06-12 16:19] raf64flo commented on #161
Hi @jfcere

Thanks for the suggestion, I've tried using a pure HTML anchor but the result is the same. As if the markdown builder did not resolve the route of the component when converting the markdown in HTML.

The only way to get the anchor as expected is to hard set the `/help` path in the markdown's anchor, but as it might be used in different paths, I'd prefer to only use inner anchors.

Is t

[2019-06-13 11:17] jfcere commented on #161
Sorry to hear that, I've been reallllllly busy recently but I should find some times to look at it soon.

[2019-06-13 11:41] raf64flo commented on #161
No need to apologize, thanks to provide such library, it is very useful and the documentation is a great help!

I'm struggling with another issue, but I believe it is related to the way I deploy the frontend assets in my Spring Boot app, because in development mode it works as a charm (minus the anchor issue), so I don't think if it worth to create another issue here.

[2019-06-13 13:18] Razkaroth commented on #161
Not a 100% sure, but I think that the anchor issue is because angular does
not use the href attribute for internal navigation. The relative navigation
does not work because angular expects routerLinks, but hard links work
because the browser resolves them as new pages.

El jue., 13 jun 2019 6:41 a. m., Raphaël Flores <notifications@github.com>
escribió:

[2019-06-13 20:31] raf64flo commented on #161
Good catch @Razkaroth indeed, I've given it some tries and my tests show that:
- using standardized `<a href="#name">` allows to scroll to the `<div id="name">` but the browser back button is not handled correctly (ie. the URL fragment disappears, but we don't move back to the previous position in the page).
- using `<a routerLink=/help fragment=#name` works as expected ONLY if we configure the Ro

[2019-06-15 01:36] Razkaroth commented on #161
@raf64flo I think that if you set the anchors as `[text](/help#name)`, this renderer override might be a solution:

[code]

If it is a relative link uses routerLinks, otherwise, it goes ahead to a simple anchor tag.

[2019-06-17 10:44] raf64flo commented on #161
I fear the angular parsing comes before (at compilation time) the rendering of markdown (at runtime?), hence ignores the output of the renderer.

It produces safe angular syntax (if generated code is copied outside of `<markdown>` tag, it works), but the output HTML is ignored by the browser, only the value of `${text}` is visible in the page.

Were you able to make this renderer generated code co

[2019-06-17 16:18] raf64flo commented on #161
Indeed, I had a custom `IndexFilter` class on Spring Boot side which forwards all GET requests to non-static and non-api resources to `index.html`. This filter was necessary to support deep-linking for URLs generated by the Angular router, but `.md` was missing from the extension list...

I should be able to use remote loading of Markdown now! Even if this does not resolve the anchor issue.

[2019-06-17 19:19] raf64flo commented on #161
OK I've found a workaround even if it doesn't handle very well the HistoryBrowser (the back at top on the page after selecting an anchor is not done).

I've played with the renderer facility as following:
[code]

[2019-06-24 12:47] s-a-m-u-e-l opened #162 "edge and ie11 does not support syntax highlight"
Nothing is highlighted in IE11, in the Edge already, but the code block is not displayed correctly!
**It should look like this:**
![image](https://user-images.githubusercontent.com/52163190/60019253-bf90be00-968d-11e9-849a-f6e9980f8fa0.png)

**but in the IE11 it is displayed like this:**
![image](https://user-images.githubusercontent.com/52163190/60019381-0383c300-968e-11e9-9091-e2faf0948163.png)

[2019-06-26 12:19] jfcere commented on #162
Hi @s-a-m-u-e-l,

Sorry for the delay, I've been really busy these days!

I never noticed that the syntax highlight did not work for IE/Edge before and I am not sure if it has something to do with Angular 8 update.

I'll have to take a look and come back to you later.

[2019-06-27 16:26] Mxater opened #163 "New token problem"
I try to create a new token, I want to convert "[ ]" and "[x]" in a checkbox.

I using

[code]

with this text

but, when I check console I get this.

[code]
I get `-] test` instead `[-] test`.

why in [-] and [x] the render text delete the first [ ?

[2019-06-28 11:03] s-a-m-u-e-l commented on #162
@jfcere I have solved the problem with the line break, it was up to my application,
but on the IE11 the highlighten still does not work,
not on this page either: [https://jfcere.github.io/ngx-markdown/](url).
but no stress this is not so important for me.
Thank you

[2019-06-28 11:03] #162 closed

[2019-07-04 12:58] jet8a opened #164 "Render angular components inside"
How can I render an angular component inside:

[code]

And how can I wrap my md tables in angular material tables?

[2019-07-08 09:29] YiliaG opened #166 "Did it support emoji，like github？"

[2019-07-10 15:07] jfcere commented on #166
Hi @YiliaG,

No, emojis are not supported _out-of-the-box_ but I think this could be done with some modifications to `ngx-markdown` but I would have to think a little bit on how to integrate this functionality as optional configuration.

I'll keep the issue opened and add the appropriate tag.

[2019-07-10 15:12] jfcere commented on #164
Hi @jet8a,

The content of markdown parsing is not evaluated presently by Angular which means that bindings and Angular related hooks are not executed.

I am not sure I to address this functionality but I'll keep the issue opened for future investigation.

[2019-07-10 15:18] jfcere commented on #163
Hi @Mxater,

To generate checboxes you need to start the line with a dash `-` and add a _space_ before the brackets `[ ]` like the following example:

[code]

- [ ] unchecked
- [x] checked

[2019-07-10 15:19] Mxater commented on #163
but not only want to generate checkboxes, I want to generate new token using [example] sintaxis.

[2019-07-10 15:22] jfcere commented on #163
Sorry, I am not sure to fully understand what you are trying to achieve.

Can you reproduce the issue forking the [StackBlitz](https://stackblitz.com/edit/ngx-markdown) example and try to describe maybe more in details what you are expecting?

[2019-07-10 16:21] Mxater commented on #163
I use same same code of my app, but not work renderer

https://stackblitz.com/edit/ngx-markdown-eszrsp

[2019-07-16 12:26] benjamincharity commented on #163
@Mxater afaik there is no valid HTML attribute to create an indeterminate checkbox (`[-]`) so that is why it is not rendering correctly. The only way to set `indeterminate` is with JavaScript:

[code]

[CodePen Example](https://codepen.io/benjamincharity/pen/LKwyGb)

[2019-07-20 01:22] davidshen84 opened #167 "Expose an event to notify when the MD rendering is done"
When using the `src` attribute the `(load)` event is triggered after the component has finished rendering the content. But when using the `data` attribute, there's no way to know when the rendering is done.

The reason I need this is that I need to update the content again using MathJax, and I cannot have two processes updating the same element.

One way to work around this is by using the markdow

[2019-07-20 02:12] davidshen84 commented on #167
Well, since JS is single-threaded, using a `setTimeout` hack is easier.

[2019-07-20 02:12] #167 closed

[2019-07-29 02:29] hhfrancois opened #168 "collapsible text"
Hi, I start to use your components in my project. Great job. I started with ngx-md, but it doens't work when the md is not render at start. For exemple when we use material tabs and that we use one md by tab. So for this yours is really better.
I have a suggest, enhancement to ask you. What do you think about collapsible part. A little bit like highlighting, with range of lines, but the text at th

[2019-07-29 08:53] emrerocky commented on #125
+1. I'm currently stuck because of this. Would love to see it added or hear of a work around.

[2019-07-30 15:01] Robouste opened #169 "\n are not rendered"
I've upgraded Angular from 5 to 8 and, since then, the `\n` are not rendered anymore.

I read the part which said to add the directive `ngPreserveWhitespaces`, which I did, without success.

Here is a simple peace of code:

[code]

It renders like this:

![image](https://user-images.githubusercontent.com/5463032/62140433-43704280-b2eb-11e9-8ccb-086937dd1ad9.png)

Am I missing something ?

[2019-07-30 20:13] puneetg1983 commented on #125
+1. Need this functionality

[2019-08-02 08:11] yousifalraheem opened #170 "Bug: Markdown Service is throwing an error in IE11"
### Description
I am using ngx-markdown to render markdown code and it is working completely fine on Chrome, Firefox, and Safari. However, running the application in IE11 (which is required by my employer) throws the following error:
[code]

[2019-08-04 18:34] andrewjrvs commented on #125
Since the angular compiler isn't included when you use AOT compilation (which I wanted) I came up with this alternative.
Once the content is loaded (using the ngx-markdown load event) I attached an event listener to catch any Anchor 'click' events and redirect them to the Angular router if they are relative links.

[code]
[code]

[2019-08-06 16:41] tidzerda opened #171 "Content not wrapping"
Hello, Thanks for all the effort so far.

Is it possible to constrain the width of the markdown html element, to a fixed size and force the inner content to wrap. If I do this, the content does not appear to wrap.

I have this <markdown [data]="mydata"></markdown>
and css
markdown {
    width: 800px;
    height: 100%;
}

Thanks.

[2019-08-06 18:42] jfcere commented on #171
Hi @tidzerda,

Sure, you just have to add `display: block;` to the `markdown` element:

[code]

Stackblitz example: https://stackblitz.com/edit/ngx-markdown-issue-171

[2019-08-10 20:23] #171 closed

[2019-08-11 07:32] tidzerda commented on #171
Thanks

On Sat, Aug 10, 2019, 21:23 Jean-Francois Cere <notifications@github.com>
wrote:

[2019-08-20 17:24] coloz opened #172 "Hope to add a way to use ng router open link"
At present, using ng-markdown to parse md files, links will be parsed as herf, and browsers will refresh after clicking on links.

Hope to add a method that can be directly resolved to an ng router method when there is no domain name in the link.

[2019-08-20 18:13] jfcere commented on #172
Hi @coloz,

This is the most requested feature without a doubt!
Please feel free to "thumbs-up" this already opened issue #125

Going to close this one as a duplicate.

[2019-08-20 18:13] #172 closed

[2019-08-20 18:16] jfcere commented on #125
Hi fellas,

I just want you guys to know that this will be my next priority when I'll get some time to work on the library.

In the meanwhile, if any of you want to jump into the wagon, please feel free to contribute as this might not be an easy one!

Thanks for understanding.

[2019-08-21 21:13] ALeschinsky opened #173 "HttpClient loader doesn't work on server side with SSR"
Here's a solution: https://blog.laas.sh/fix-for-markdown-rendering-for-ssr/

Thanks for the great package!

[2019-08-22 11:06] jfcere commented on #173
Hi @ALeschinsky,

I am not that familiair with service-side-rendering but I am wondering how could `HttpClient` not work for SSR, this is Angular's Http service... aren't they supposed to support this feature?

Looking at your PR https://github.com/laas-sh/laas-sh-app/pull/6/files it looks you want to "pre-load" the remote content instead of fetching it remotely when rendering markdown component.

[2019-08-22 11:25] jfcere commented on #169
Hi @Robouste,

Sorry for the delay and I am glad you solved your problem.
As far as I know, the `\n` is not a supported markdown syntax.
If it worked previously you got me surprised.

I've tried on the following online markdown editors and `\n` do not create a line break:
- https://stackedit.io/app
- https://dillinger.io
- https://jbt.github.io/markdown-editor

[2019-08-22 13:25] ALeschinsky commented on #173
Yes, it's not an issue, I just wanted to send this to you as other people will likely find this useful. `<div markdown src="/relative/url/to/markdown-file.md"></div>` will not work on the server, because it's a relative url. (The absolute url didn't work for me either, not sure why...)

[2019-08-22 13:25] #173 closed

[2019-08-22 16:15] jfcere commented on #173
Ok, I get what you mean about the relative path... sorry I am not used to SSR.

I am thinking about starting a FAQ or How-To section for that kind of information cause, as you said, this could be really helpful for other people.

Thanks for posting this information and sorry for the confusion.

[2019-08-22 16:25] MikePiper commented on #173
@jfcere An FAQ/how-to for Angular Universal/SSR would be super helpful!

I've been trying to follow this tutorial:
https://dev.to/daviddalbusco/add-a-blog-to-your-angular-website-using-markdown-files-go7

But the "hack" at the end (to get Angular Universal to work) isn't working for me. The index.html files created by the prerender script all just have divs with markdown="" in place of where the m

[2019-08-24 04:43] learnwell commented on #65
@jfcere You should let them know about the sanitize flag here as they've issued a security advisory:
https://nodesecurity.io/advisories/892

[2019-08-25 21:26] KingDarBoja commented on #65
Same here, got the security warning on this package.

[2019-08-26 01:08] jfcere commented on #65
@learnwell, @KingDarBoja thx for getting this to my attention.

I sent a support request to NPM to revoke the security advisory as `sanitze` option can be activated to use Angular's sanitization or give the flexibility to the user to provide his own sanitize function.

[code]

[2019-08-26 02:32] Razkaroth commented on #125
@jfcere, I'll have some free time mid-week and I'd be more than glad to help with this.

If I'm not mistaken, the main issue is that `routerlink` is a directive, not an attribute,  and as far as I know angular does not support dynamic directives natively.

However, I found [this StackOverflow thread](https://stackoverflow.com/a/43752424/8871313). If this works, then the markdown component could do

[2019-08-29 02:40] pshields commented on #65
For what it's worth, my vote would be to turn `sanitize` on by default in the next major version release. As a consumer of this library, I'd rather Markdown-formatted content in my applications be sanitized by default. As I see it, the risks from accidentally failing to turn sanitization on outweigh the inconvenience of having to manually disable sanitization in cases where it truly is not needed.

[2019-08-29 03:31] Razkaroth commented on #65
I also agree.

The sanitization should be enabled by default, as people should only
disable sanitization if they specifically need to do so and not the orher
way around.

El mié., 28 de agosto de 2019 9:40 p. m., Patrick Shields <
notifications@github.com> escribió:

[2019-09-04 09:20] anirudhvarma12 commented on #164
This might be a breaking change, but one pattern that I have seen being used in situations like these, is to use a `template-outlet`. Something like -

[code]

[2019-09-11 09:52] thomashardwick opened #174 "Sanitize Warning from marked version 0.7"
We are getting the following warning from since updating:
`main.js:1 marked(): sanitize and sanitizer parameters are deprecated since version 0.7.0, should not be used and will be removed in the future. Read more here: https://marked.js.org/#/USING_ADVANCED.md#options`
Is there an alternative way to sanitize markdown that can be used with ngx-markdown?

[2019-09-11 10:58] jfcere commented on #174
Hi @thomashardwick,

You can ignore the warning, I "hijacked" marked options to use the `sanitize` flag and use Angular DOM sanitizer.

You can take a look this https://github.com/jfcere/ngx-markdown/issues/65#issuecomment-388642548 to enable sanitizing.

[2019-09-13 09:52] jayaramasaipavanmanda opened #175 "Is there any option to escape/ disable certain markdowns, something like embedded images? If there, Could you please provide a Stackblitz on how to achieve this."

[2019-09-13 14:49] jfcere commented on #175
Not sure what you are asking ... you mean if there is a way to disable rendered markdown so that it cannot be selected?

[2019-09-16 09:22] jayaramasaipavanmanda commented on #175
My question is , when I include a url of an image, the markdown automatically displays the image from URL.I don't want it to happen. So I am asking whether I can disable or enable this according to my wish. ex: ![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")  this displays the image. But I don't want to display it automatically.

[2019-09-17 07:53] thomashardwick commented on #174
OK it still would be nice if the warning didn't show but it's good to know we won't loose protection in some future version.

[2019-09-17 11:06] jfcere commented on #174
Sure, point taken ... didn't know there was a warning.

[2019-09-17 11:06] #174 closed

[2019-09-18 11:56] jfcere commented on #175
If I understand correctly you want to display the URL fo the image but not the image itself? Or display an image what would be hidden to the user?

In either way, this is not handled "out-of-the-box" but you could probably use [MarkedOptions.renderer](https://github.com/jfcere/ngx-markdown#markedoptionsrenderer) to override the renderer method for _image_ block level.

[2019-09-18 12:03] jfcere commented on #168
Sorry for the huge delay! It sure would be a nice addition to the line-number plugin but not sure that would be an easy thing to do.

I'll mark the issue with `enhancement` tag but, I'll be honest, I won't be able to work on this anytime soon as I have to prioritize requests and URLs using Angular router is on top.

On the other hand, if you are willing to give it a shot, I'll be more than happy t

[2019-09-25 08:04] murali-vutti-zensark opened #176 "I'm not able to style the elements inside the markdown using CSS"
.markdown {
          padding: 0.8rem;
          p {
            a[href^="http://"], a[href^="https://"] {
              background: url(http://bits.wikimedia.org/static-1.22wmf1/skins/vector/images/external-link-ltr-icon.png)
                center right no-repeat;
              padding-right: 13px;
            }
          }
        }

I'm using SCSS and given a class markdown for <markdown> but

[2019-09-25 08:40] velcroz commented on #176
Try using the ::ng-deep pseudo-class

[code]

[2019-09-25 10:07] murali-vutti-zensark commented on #176
Thanks ng-deep worked for me but I had to use the following syntax

.markdown {
          padding: 0.8rem;
          ::ng-deep {
            p {
              a[href^="http://"], a[href^="https://"] {
                background: url(https://en.wikipedia.org/w/skins/Vector/images/external-link-ltr-icon.png?325de)
                  center right no-repeat;
                padding-right: 13px;

[2019-09-25 10:07] #176 closed

[2019-09-25 12:18] liron-navon opened #177 "Make independent renderer"
In my use case I wish to have the following:

[code]

But I wish each to render differently, therefore apply a different renderer, it's currently not possible, I would like to suggest the following API:

[code]

[2019-09-25 13:32] jfcere commented on #177
@liron-navon you are right, it is not possible right now using `MarkdownComponent` but `renderer` is exposed by `MarkdownService` if you need this right now it could be used as a workaround.

[2019-09-26 04:38] jet8a commented on #164
I solved this problem, just use web components

[2019-09-26 04:38] #164 closed

[2019-09-26 07:55] liron-navon commented on #177
@jfcere What do you mean? the service is a single instance, so I can only set one renderer at a time right?

[2019-09-26 11:08] jfcere commented on #177
You would have to pass renderer options every time, might not be ideal ... probably not a suitable solution now that you pointed out the single instance, sorry.

[2019-09-28 18:04] jfcere commented on #65
Follow up...
- Warning has been added on [README.md](https://github.com/jfcere/ngx-markdown#configuration)
- Next major release will have sanitization enabled by default

[2019-09-28 18:16] jfcere commented on #170
Thanks to @mistic100, issue has been fixed and released.
Please update `ngx-markdown` to [v8.1.1](https://github.com/jfcere/ngx-markdown/releases/tag/v8.1.1) to get the fix.

[2019-09-28 18:16] #170 closed

[2019-10-04 07:14] rk-2903 opened #179 "Data is not getting deleted from the preview even after deleting from the text area"
I am deleting the data from the text area one after one. In preview it's also getting deleted simultaneously but the last letter is not getting deleted.
If I'm deleting it by ctrl+a and then delete, then nothing is deleted from the preview.
![markdown-pic](https://user-images.githubusercontent.com/30935362/66188335-b2c83100-e6a4-11e9-8b44-33bbd5a1b72d.png)

Thank you.

[2019-10-04 07:15] rk-2903 commented on #179
*then

[2019-10-04 19:42] JoshuaMulliken commented on #56
::ng-deep was the only solution that worked for me.

[code]

This was now properly applied within the markdown component.

[2019-10-05 04:29] jfcere commented on #179
Reopening because although there is a workaround, this should not happen and it can easily be fixed.

[2019-10-05 04:32] #179 closed

[2019-10-05 04:56] jfcere commented on #179
You can update ngx-markdown to [v8.1.2](https://github.com/jfcere/ngx-markdown/releases/tag/v8.1.2) to get the fix.

[2019-10-05 12:42] maxime1992 commented on #125
Hey guys I'm stuck too because of that (need of `routerLink` and `fragment`).

Has anyone found a good workaround?

[2019-10-05 21:18] maxime1992 commented on #161
Hi! Has anyone found a solution to this? I'm really stuck :(

[2019-10-06 06:04] DomiDre opened #181 "Add LaTeX support"
I would love to also use some simple LaTeX within my markdown texts (to include some formulas in a post for example). I saw #68 but that got closed... and I found the package ngx-markdown-katex ( https://www.npmjs.com/package/ngx-markdown-katex ) which however is missing some features from ngx-markdown...

So... is there some specific reasons to avoid including katex optionally?

[2019-10-06 11:02] zakhenry commented on #125
This is very much a hack, but what we use to work around this limitation

[code]

To use this, inject the service into your component (or directive) that contains links and pass the `ElementRef` to `wireInsertedLinks(element)`.

Note this does not handle relative links; only links starting with `/`, but it should be relatively easy to extend that capability.

[2019-10-07 01:05] jfcere commented on #181
Hi @DomiDre, thanks for your PR!

There is not specific reason not to include katex... I just never add the time to look deeper in its integration but I am glad do you did it.

I will merge your PR but I will need to make some changes before to release it and fix failing tests.

[2019-10-07 05:57] HalitTalha commented on #78
Hi there,
I have implemented this feature for one of my requirements. I'd like to contribute on that. What I have done is implementing a custom renderer for code tags. It is used based on a boolean user input and button listeners are set via Renderer2 of Angular. Copy to clipboard button consists of a CSS only design with some simplistic animation for feedback. I'm planning to make a pull request

[2019-10-08 01:54] jfcere commented on #181
Katex support is now live 🎉
Thanks again for you contribution @DomiDre!

Update ngx-markdown to [v8.2.0](https://github.com/jfcere/ngx-markdown/releases/tag/v8.2.0) to get the feature and refer to [README.md](https://github.com/jfcere/ngx-markdown#katex-plugin) for installation instructions.

[2019-10-08 01:54] #181 closed

[2019-10-08 02:11] jfcere commented on #68
Katex support is now live, please refer to issue #181 for details.

[2019-10-08 14:20] jonathan-chin opened #184 "disable auto creating links?"
I want to use Markdown to give my users easier way to stylize and present their data. However, because I am paranoid about abuse, I want to suppress auto generation of links / urls. I guess we'll still display the url but users will have to copy and paste it, which might have one more layer of protection.

Is there a way to specify an option for this?

[2019-10-08 14:24] #184 closed, assigned to nobody

[2019-10-08 14:36] jfcere commented on #184
You should be able to do it by overriding the [renderer](https://github.com/jfcere/ngx-markdown#renderer) for the `link` block.

[2019-10-08 17:41] jonathan-chin commented on #184
worked perfectly!

[2019-10-10 09:17] matcho opened #185 "KaTeX affects formatting of following contents by generating invalid HTML"
Hello,

When inserting some math inside some Markdown contents, the math is rendered properly but it happens that the rest of the Markdown contents (following the math) has its formatting altered.

Font is not the same, and with `displayMode: true` the contents stays centered.

This seems to be caused by an invalid generated HTML code.

## Example

Here is the example I'm having trouble with:
[cod

[2019-10-10 11:06] jfcere commented on #185
Hi @matcho, thanks for reporting the issue and the investigation, I'll take a look at it.

[2019-10-11 00:30] s-edlund opened #186 "Can I get a callback (e.g. EventEmitter) when content is ready"
I only see one event, like:

`<markdown (error)="error($event)">`

I need something like:

`<markdown (error)="error($event)" (ready)="ready()">`

called after all the markup's been converted to HTML and is ready.

Until that is there, is there a workaround?

[2019-10-11 17:14] s-edlund commented on #186
Alternatively, if you can fix the problem I need the callback in the first place:

Markdown supports links to scroll to sections in a page, e.g. for a TOC

[code]

However, the anchors are like this `<a href="#topic-1">Topic 1</a>` but the `href` does not take into account the current router URL, it's using the base URL of the app, which causes the application to reload instead of just scroll.

So

[2019-10-12 02:07] #185 closed

[2019-10-12 02:43] jfcere commented on #185
HTML parsing using `katex` has been corrected, update ngx-markdown to [v8.2.1](https://github.com/jfcere/ngx-markdown/releases/tag/v8.2.1) to get the fix.

[2019-10-14 20:59] avelow commented on #68
Great thing !
Good job

[2019-10-16 09:55] jayaramasaipavanmanda opened #188 "Is there any option to change the color of horizontal line generated using markup."
Currently we are using ngx-markdown and the hoizontal line generated using markup is showing grey in colour.Is there any option to change it to black colour?

[2019-10-16 11:08] jfcere commented on #186
Hi @s-edlund, I will add the `ready` output event soon but right now you can use `setTimeout` as a workaround. (see #167)

[2019-10-16 11:09] jfcere commented on #188
There is no style applied by ngx-markdown, those are the default values from the browser.
You can override them using `::ng-deep` shadow piercer (see https://github.com/jfcere/ngx-markdown/issues/56#issuecomment-373722506 for existing issue).

[2019-10-17 17:59] FelipeSanchezCalzada opened #189 "Problems formatting the markdown"
I have the following text in markdown:

<a href="https://ibb.co/YyY46FT"><img src="https://i.ibb.co/VQr0dcp/image.png" alt="image" border="0"></a>

By entering it in the markdown tag as follows:

[code]

The format is completely broken as seen in the following image. I only use bootstrap styles.
<a href="https://ibb.co/0QYHHcs"><img src="https://i.ibb.co/vDL00HX/image.png" alt="image" border="0"><

[2019-10-18 01:07] jfcere commented on #189
Hi @FelipeSanchezCalzada,

In your example you added `lineHighlight` attribute to the `markdown` component but this is used to _emphasis_ specific lines as show in the demo here: http://jfcere.github.io/ngx-markdown/#line-highlight

I've create a StackBlitz with your example and it works fine: https://stackblitz.com/edit/ngx-markdown-issue-189

Basically, you only need to use either of the followi

[2019-10-18 09:53] FelipeSanchezCalzada commented on #189
That was exactly the problem!
Thank you!

[2019-10-18 09:53] #189 closed

[2019-10-22 08:49] ps011 commented on #78
@HalitTalha , have you created a pull request ?

[2019-10-22 12:34] HalitTalha commented on #78
@ps011 I was going to make but I had some personal business and then a doubt about the style of the buttons. Buttons that are rendered for code blocks I mean. As you know asset or style packaging is not supported for the libraries. So there is only one good option that I can think of which is copying it with cpx during build and let the user of the package import the style globally. When I get the

[2019-10-23 01:51] jfcere commented on #188
Closing, let me know if the given answer doesn't fix your needs.

[2019-10-23 01:51] #188 closed

[2019-10-25 13:35] laggage opened #190 "How can I generate navigation dynamically based on the title of each paragraph"
I want to resolve the title of each paragraph, so that I can display it on the side bar, What can I do?

[2019-10-27 20:45] jfcere commented on #190
Hi @laggage,

This implementation is really up to you but you could use `document.querySelectorAll(selector: string)` to get all _headings (h1, h2, h3, ...)_ elements parsed by the `markdown` component/directive and generate HTML navigation using `*ngFor` with the `id` attribute.

Here is an example: https://stackblitz.com/edit/ngx-markdown-issue-190

The tricky part is to use `setTimeout` to avoi

[2019-10-30 13:25] #190 closed

[2019-11-04 20:24] ruudyroon opened #192 "AOT issue with version 8.2.1"
Getting null injector error when i create a build with --aot

ERROR NullInjectorError: StaticInjectorError(AppModule)[MarkdownComponent -> MarkdownService]:
  StaticInjectorError(Platform: core)[MarkdownComponent -> MarkdownService]:
    NullInjectorError: No provider for MarkdownService!

Angular version - 8.2.13
Ngx-markdown version - 8.2.1

anyone else facing this issue?

for further reference

[2019-11-05 21:56] jfcere commented on #192
Hi @ruudyroon,

This seems strange, running demo app with AoT works fine but you might have a different setup. Would you be able to provide a reproduction repository with minimal code?

[2019-11-07 16:17] kevin-lozoya opened #193 "'sanitize' option is deprecate"
This project use marked.js library as dependence, but since >v0.7.0 won't be possible use 'sanitize' option. This sanitize we must do it with an external library, like DOMPurify (recomended by marked.js).

I have two questions:
1. This project will contiue giving this option? In that case, should we implement it in some way?
2. If I want use other sanitizer, like DOMPurify, how I can use it togeth

[2019-11-07 18:33] jfcere commented on #193
Hi @kevin-lozoya,

Yes the warning for deprecated `sanitize` options has been brought to my attention a month ago. (see previous issue #174).

The warning can be ignored because I do use angular `DomSanitizer` for sanitization, I only "hijacked" the marked option to enable or disable it.

https://github.com/jfcere/ngx-markdown/blob/396b790936d7ae125aeed2eb814f20bd9bfad709/lib/src/markdown.service.

[2019-11-07 19:16] ruudyroon commented on #192
@jfcere sorry i figured the issue, it was coming from ng-packagr and not ngx-markdown, sorry about that!

[2019-11-07 19:16] #192 closed

[2019-11-07 19:57] jfcere commented on #192
No worry, I'm glad you found out!

[2019-11-08 09:01] kevin-lozoya commented on #193
Thanks @jfcere, so this warning won't appear with the next release.

[2019-11-10 21:24] takahser opened #194 "Pipe shouldn't add additional HTML"
Currently, when using the pipe the output HTML markup is wrapped in a `<p>` HTML paragraph.
Imho this is not the expected behaviour. In my case it made the layout change since I had some span text before which is now in a paragraph and became a block element.

**Input**

[code]

**Expected Output**
[code]

**Actual Output**

[code]

[2019-11-15 00:48] lhf552004 opened #195 "Is it possible to set the size of image?"
Hi, thank you for ngx-markdown library. It is wonderful. May I ask is it possible to support customize picture size? As we want customer could edit the image's size by themselves.
Is it possible to do like this? or do we have another way doing this?
![](./pic/pic1_50.png =100x20)
![](./pic/pic1s.png =250x)

Thanks again

[2019-11-15 12:16] jfcere commented on #148
Closing since it's been a while that there has been activity on the issue and also because nobody else expressed the fact that they encountered the same problem.

Feel free to reply to this issue if you still need assistance on that matter.

[2019-11-15 12:16] #148 closed

[2019-11-17 14:24] ingun37 opened #196 "katex does not render a single letter."
When I try to render a single letter like $X$, it doesn't turn into KaTeX object. It just prints out itself.
It's ok when it's not a single letter like $A_0$.
![Screen Shot 2019-11-17 at 11 19 20 PM](https://user-images.githubusercontent.com/3048481/69008707-fba42280-0990-11ea-80e2-9c67d857990e.JPG)

[2019-11-17 15:07] ingun37 commented on #196
Also when the the single letter katex is at the end of the line this thing happen
![bad](https://user-images.githubusercontent.com/3048481/69009230-d6b2ae00-0996-11ea-805f-98ebcb1d68ed.JPG)
and of course It ok when it's not single letter (I changed single `S` into `SS` from above)
![good](https://user-images.githubusercontent.com/3048481/69009284-3315cd80-0997-11ea-8c4b-e41070a04e47.JPG)

[2019-11-18 11:56] srijithchandran opened #197 "opendialog from markdown hyperlink"
I want to render the below hyper link in markdown file
<a href (click)="!!openDialog('test','test2',1)">
Try Out
</a>

[2019-11-19 13:30] jfcere commented on #196
Hi @ingun37,

Thanks for reporting the issue, I'll take a look at it... this shouldn't be too hard to fix.

[2019-11-19 13:33] jfcere commented on #197
Hi @srijithchandran,

This isn't possible right now, even if you play with the parser the library won't process Angular bindings. I believe this is something that Ivy compilation (that will be enabled by default in Angular 9) should probably allow but we'll have to wait to see.

[2019-11-19 13:35] jfcere commented on #195
Hi @lhf552004,

This isn't a built-in behavior but I think that if you use the [renderer](https://github.com/jfcere/ngx-markdown#renderer) to override the `image` block you should be able to come up with the desired HTML.

Let me know how it goes from there!

[2019-11-19 13:37] jfcere commented on #194
Hi @takahser,

The paragraph tag is added by marked.js library itself as the default behavior. Image if it wouldn't when using a variable containing lots of texts.

Besides overriding the `paragraph` block I think this is meant to be that way 🤔

[2019-11-19 13:40] jfcere commented on #175
Hi @jayaramasaipavanmanda,

I am not sure if my proposition correctly answers your question (I am not sure I understand your question in the first place)... let me know if it resolved your issue or if you need more assistance.

[2019-11-23 18:57] ingun37 commented on #196
I found the problematic line that matches the inline KaTex block using regex.
https://github.com/jfcere/ngx-markdown/blob/396b790936d7ae125aeed2eb814f20bd9bfad709/lib/src/markdown.service.ts#L86
The `[^\s]`s at the both ends impose 2 characters at minimum.
Also combined with given multiline `m` modifier, it produces this kind of bug
![bad](https://user-images.githubusercontent.com/3048481/69483566

[2019-11-25 02:30] lhf552004 commented on #195
@jfcere , thanks.

[2019-11-25 02:30] #195 closed

[2019-11-30 05:50] ingun37 commented on #196
I solved by making my own katex interpolating function.
The main idea was replacing every `Tex` strings in markdown with some tokens and then compile the markdown into HTML and then re-replace the tokens with the Katex DOM elements which are compiled from the Tex strings using external Katex.
I've got some quite samples of markdowns with Tex and they all passed the test.

[code]

[2019-11-30 05:50] #196 closed

[2019-11-30 15:19] jfcere commented on #196
@ingun37 interesting... looking at your code, if I understand correctly, you use `$$` delimiter for multi-line (and use `displayMode`) and `$` for single-line?

[2019-11-30 15:34] ingun37 commented on #196
@jfcere The idea of using `$$` was natural to me because I've been using MathJax a lot and MathJax uses the specific delimiter for displayMode.[MathJax Doc](http://docs.mathjax.org/en/latest/input/tex/delimiters.html)

[2019-11-30 15:47] ingun37 commented on #196
I suggest for you to avoid compiling the markdown with Tex in it. As you may know Tex and Markdown has lots of conflicting syntaxes. Otherwise you will have to escape all the conflicting syntaxes (e.g `_`, `{}`..) before the compiling. As you can see I got by using tokens.

[2019-11-30 16:11] jfcere commented on #196
The library is already using a regexp to get all `$` delimited Tex expressions to avoid parsing all markdown.

[2019-11-30 17:06] ingun37 commented on #196
Sure Id love to contribute.
Can I just change the regex? It clearly shows the intention of not allowing whitespaces by `$`.. Are there reasons behind?
It would be nice if I know how to test it too.

[2019-12-02 01:30] #186 closed

[2019-12-09 14:54] CarlosTenorio opened #202 "Table styles is not working"
With the [default example](https://stackblitz.com/edit/ngx-markdown) provided by the official documentation, if we added a simple table like that:

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

Result:
![image](https://user-images.gith

[2019-12-09 15:17] jfcere commented on #202
Hi @CarlosTenorio,

There is no style applied by default with the library so that it doesn't interfere with 3rd parties. This means if you use, let say Bootstrap for example, your table will be styled as it should be with Bootstrap and no otherwise.

Let me know if this answers your question correctly.

[2019-12-09 15:20] CarlosTenorio commented on #202
Hi @jfcere

Thank you for anwer so quickly. Now, I get it how works the library. Sorry then for the issue.

[2019-12-09 15:20] #202 closed

[2019-12-09 15:21] jfcere commented on #202
@CarlosTenorio np, my pleasure... happy coding 😄

[2019-12-22 13:38] gaborgyarmati commented on #121
Did you get to resolve this?

[2019-12-26 22:25] raspyweather commented on #121
A very ugly one. As far as I remember I used a custom renderer for links and images. It worked but it's a super ugly workaround which should not be necessary.

[2019-12-26 23:13] jfcere commented on #121
@raspyweather it didn't work when using the `baseUrl` parameter from `markedOptions` as you mentioned in the issue description?

[2019-12-26 23:57] muuvmuuv commented on #197
Very interested into this!

In our app I want to present an alert modal that says "This link is not safe and not added by us. Be aware of any risk clicking on links on the internet. More in our policy(link).".

ATM I have added an `elementRef` and parse each link after markdown render and add a event listener to it, but that is very dirty and doesn't work all the time.

[2019-12-27 00:55] gaborgyarmati commented on #121
@jfcere This is my resolve thanks to @raspyweather

`
  imports: [
    BrowserModule,
    AppRoutingModule,
    MarkdownModule.forRoot({
      loader: HttpClient,
      markedOptions: {
        provide: MarkedOptions,
        useValue: {
          baseUrl: ' URL HERE '
        }
      }
    }),
`

[2019-12-28 14:04] raspyweather commented on #121
Great to hear, I'm currently on vacation, will make an updated demo for checking. Thanks!

[2020-01-05 11:38] raspyweather commented on #121
Awesome job! Works great for me!

[2020-01-05 11:38] #121 closed

[2020-01-11 15:44] jfcere commented on #166
This is coming soon.

[2020-01-11 19:26] jfcere commented on #175
Closing the issue, there was no followup for a while.

[2020-01-11 19:26] #175 closed

[2020-01-12 16:37] jfcere commented on #125
Hi fellas,

Working on the new demo for ngx-markdown I stumbled across this issue. I red workaround proposition and did some reverse-engineering with angular `routerLink` directive and came up with this service.

This is not an official solution that is integrated to ngx-markdown yet but this is something I am considering but for anybody who end up here I'd like you to give it a try and comment on

[2020-01-12 16:49] jfcere commented on #161
Closing for duplicate so that everybody can follow up and participate on the same issue.

Please refer to issue #125.

[2020-01-12 16:49] #161 closed

[2020-01-12 18:53] jfcere commented on #194
I could probably add a [parameter](https://angular.io/guide/pipes#parameterizing-a-pipe) to the `MarkdownPipe` to unwrap the `<p>` tag...

[code]

I'm leaving this here so I could remember I had this idea 😛

[2020-01-27 09:17] flaunsen opened #205 "KaTeX extension improvements"
There are some issues in the current KaTeX support:

1. For now it is assumed that KaTeX formula starts and ends with one "$" sign. But more common behavior is to use double dollar signs as delimiters: "$$". As a result with enabled KaTeX it is impossible to open a text containing more than one dollar. May be it will be better to add some option like 'katexDelimiters' to customize this. Example: h

[2020-01-27 12:05] jfcere commented on #205
Hi @flaunsen,

Thanks for the insights about delimiters, I struggled a lot with the regular expression to try to allow the dollar sign. Probably the double dollar signs would be better and adding an option to configure it is a good idea. This would need to be done in the next major releases though because it is a breaking change (at least for double dollar signs as delimiters).

For KaTeX formulas

[2020-01-28 01:58] jfcere commented on #205
I've released [v8.2.2](https://github.com/jfcere/ngx-markdown/releases/tag/v8.2.2) that include the fix to export `KatexOptions` correctly.

[2020-02-14 02:35] jfcere commented on #174
Warning is gone in ngx-markdown [v9.0.0](https://github.com/jfcere/ngx-markdown/releases/tag/v9.0.0) but brings a breaking changes.
Be sure to follow the [sanitization](https://github.com/jfcere/ngx-markdown#sanitization) section in the README file for instruction.

[2020-02-14 02:36] jfcere commented on #193
Warning is gone in ngx-markdown [v9.0.0](https://github.com/jfcere/ngx-markdown/releases/tag/v9.0.0) but brings a breaking changes.
Be sure to follow the [sanitization](https://github.com/jfcere/ngx-markdown#sanitization) section in the README file for instruction.

[2020-02-14 02:55] jfcere commented on #65
### :warning: Breaking Change
Dependencies as been updated to support **Marked 0.8.0** in latest ngx-markdown [v9.0.0](https://github.com/jfcere/ngx-markdown/releases/tag/v9.0.0) release and brings some breaking changes.

Due to deprecation by Marked, the following properties has been removed from `MarkedOptions` when configuring the `MarkdownModule`:
- `sanitize: boolean`
- `sanitizer: function`

[2020-02-18 16:44] wmarques opened #210 "Marked dropped IE11 Support"
Marked seems to have dropped IE11 support recently, see https://github.com/markedjs/marked/issues/1585

There are 2 workarounds:
* Change the way we import marked (from import to require)
* Tell users to use babel to transpile marked when using ngx-markdown

I can help on this if needed :)

Thanks !

[2020-02-18 17:12] jfcere commented on #210
Definitely not gonna tell users to use babel to transpile marked when using ngx-markdown...

I'll have to check why the demo is working fine in IE11: https://jfcere.github.io/ngx-markdown/

[2020-02-18 17:21] wmarques commented on #210
@jfcere Thanks for your response.

Indeed the website works so that's probably coming from our configuration as we don't use the Angular CLI. Maybe the CLI does some magic to transpile to ES5 even when libs are in ES6 code.

On my app, I was seeing the exact same issue as described there: https://github.com/markedjs/marked/issues/1585#issuecomment-570812548

Now that I'm transpiling marked through

[2020-02-18 17:26] jfcere commented on #210
I'll keep the issue open, I'm just curious about this whole thing!
I am at work now, cannot really investigate further without going over my moral principles 😄

[2020-02-18 17:33] wmarques commented on #210
No worries, let me know if I can help in some ways. I can provide our webpack config if you want to check.
Also, we are currently migrating from AngularJS to Angular 9 so our setup is quite specific :)

Thanks alot !

[2020-02-18 17:43] jfcere commented on #210
It might have to do with this https://github.com/markedjs/marked/issues/1585#issuecomment-566999635 ...

When using @angular/cli and adding `marked/lib/marked.js` to the script section of `angular.json` it uses the UMD version (if I'm right).

[2020-02-19 09:12] wmarques commented on #210
I think it's more about the way you import the lib, instead of pointing to `marked` we should point to `marked/lib/marked`

[2020-02-19 11:37] jfcere commented on #210
Yeah pointing to `marked/lib/marked` would probably solve it, I was trying to get my head around the "why" it works in the demo for IE11 and not in your Webpack setup.

[2020-02-19 12:38] wmarques commented on #210
@jfcere Do you want me to provide our conf ? It's not really complicated. For TS files we use `@ngtools/webpack` to compile with Ivy, then we use the `babel-loader` to transpile to es5 and add some polyfills using `@babel/preset-env`.

[code]

[2020-02-20 12:21] jfcere commented on #210
Importing from `marked/lib/marked` breaks the typings, I'll have to see if I copy the typings or, since it seems to work with @angular/cli, if I just add a note about Webpack configuration that needs to transpile marked library.

What a disappointing change from their part... seems there have been a few interesting proposals to fix the issue but they just don't give up!

[2020-02-23 02:35] jfcere commented on #210
@wmarques Would you be able to provide me a dummy repository with your Webpack configuration that includes ngx-markdown? That would be greatly helpful and appreciated!

I might have found something but I cannot test it and would like to avoid back and forth for experimentations.

[2020-02-25 10:14] perryrh0dan opened #211 "Headings have no id"
Hi jfcere,

Im am actualy using Version 9.0.0
I have the Problem, that no id tags are created for Headings.
![image](https://user-images.githubusercontent.com/28621009/75237248-51be0880-57bf-11ea-8b8a-aefeb34c607d.png)

I also tried to override the default headingRenderer method.
[code]

But still the id tag is not in the dom. Do you have any idea what the problem could be ? :)

Thanks in advance

[2020-02-25 12:22] jfcere commented on #211
Hi @perryrh0dan,

Unfortunately, Angular `DomSanitizer` does remove the `id` attribute when using `SecurityContext.HTML` as it is considered "unsafe" for XSS vulnerability. But that is in the context where a malicious user could manipulate the source of the rendered HTML.

If you are not using markdown to render data that is manipulated by users (such as data entered in an input element, a textare

[2020-02-25 17:32] perryrh0dan commented on #211
Hi jfcere,

thank you so much for your answer.
Helped me a lot :)

Thomas

[2020-02-25 17:33] perryrh0dan commented on #211
Hi jfcere,

thank you so much for your answer.
Helped me a lot :)

Thomas

[2020-03-03 07:52] ArnoMyOnlinePresence opened #212 "InjectionToken SECURITY_CONTEXT"
Hey guys

we upgraded to angular 9 and ever since we are getting the following runtime error:
ERROR NullInjectorError: R3InjectorError(e)[e -> e -> e -> InjectionToken SECURITY_CONTEXT -> InjectionToken SECURITY_CONTEXT -> InjectionToken SECURITY_CONTEXT]:
  NullInjectorError: No provider for InjectionToken SECURITY_CONTEXT!

We are on version 9.0.0

[2020-03-03 11:57] jfcere commented on #212
Hi @ArnoMyOnlinePresence,

Are you importing ngx-markdown with `MarkdownModule.forRoot()` in the `app.module.ts` ?
This is mandatory for providers to be available for injection.

[2020-03-03 12:51] wmarques commented on #210
@jfcere I might have some time in 2 weeks to provide you a sample repo :)

[2020-03-03 12:52] jfcere commented on #210
You're a busy man! 😛

[2020-03-03 13:05] wmarques commented on #210
I can copy paste my webpack conf here if you want a starting point :)

[2020-03-03 13:06] jfcere commented on #210
Sure, its a start :)

[2020-03-03 13:30] wmarques commented on #210
[code]

You can notice that I added `marked` in my regexp, you'll need to remove it to reproduce the issue :)

[2020-03-04 10:29] nothingeni opened #213 "Failed to compile. An accessor cannot be declared in an ambient context."
As written in the title, I can't compile anymore after installing `ngx-markdown`.

I've several errors shown in console :

[code]

Here's my package.json

[code]

How could I fix this ?

Thanks for help!

[2020-03-04 12:02] jfcere commented on #213
Hi @nothingeni,

As of version `9.0.0` of ngx-markdown, the library is compiled with Angular 9. Although it shouldn't change much since Angular is supposed to be backward compatible with the previous major version but... I found a [post](https://www.saintsatplay.com/blog/2020-02-15-resolving-an-accessor-cannot-be-declared-in-ambient-context-error) on the web saying that this error is related to a

[2020-03-04 12:18] nothingeni commented on #213
Hi @jfcere and thanks for your quick answer!

Due to compatibility, I can't upgrade to Angular 9 for now. I have to wait for few libraries to be updated.

I've downgraded ngx-markdown with` npm install --save ngx-markdown@8.0.0` and compiled again, it works now!

Again thanks for the help!

[2020-03-11 13:43] jfcere commented on #212
@ArnoMyOnlinePresence are you still experiencing this issue following my last post?

[2020-03-11 13:44] jfcere commented on #213
Closing since ngx-markdown v9.0.0 should be used with Angular 9.

[2020-03-11 13:44] #213 closed

[2020-03-18 06:52] dudipsh commented on #166
@jfcere
Hey,
any news ? 🛩

[2020-03-18 11:01] jfcere commented on #212
Closing for inactivity, if the proposed solution doesn't solve your problem don't hesitate to reply and I'll reopen if needed.

[2020-03-18 11:01] #212 closed

[2020-03-20 17:11] harshitraghav opened #215 "'markdown' is not a known element:"
I'm getting error although I have declared the Markdown Module in my app.module.ts file as well as in module file of the component in which I'm using the markdown.
I'm using Markdown version 8.0.0 as I'm using Angular 8

[2020-03-20 17:24] jfcere commented on #215
Hi @harshitraghav,

Could you provide a repository that I could look at?
This is probably not much but its really hard to tell without seeing code.

[2020-03-20 17:25] harshitraghav commented on #215
It's on a private repo of my company, I won't be able to share that but I can provide you with some screenshots. What all you need?

[2020-03-20 17:30] jfcere commented on #215
Better than nothing!

I guess I would need to see...
- how are you importing `MarkdownModule`
- how are you using `Markdown` component or directive
- versions of Angular and ngx-markdown in `package.json`

[2020-03-20 17:36] harshitraghav commented on #215
This is How I have imported the module in the component I'm using
![image](https://user-images.githubusercontent.com/31476723/77190307-03bacd00-6aff-11ea-935f-24af7506f4be.png)

This is the module imported in the app.module.ts
![image](https://user-images.githubusercontent.com/31476723/77190377-23ea8c00-6aff-11ea-8c54-04074a04c7ba.png)

This is package.json
![image](https://user-images.githubuserc

[2020-03-20 18:04] harshitraghav commented on #215
Am I doing everything right in terms of importing and using the component? @jfcere

[2020-03-20 19:58] jfcere commented on #215
Try removing `MarkdownComponent` from `product-details-mobile.module.ts` ...

![image](https://user-images.githubusercontent.com/6987084/77201685-4a8ad180-6ac3-11ea-9ece-83a50d0fc703.png)

[2020-03-21 04:25] harshitraghav commented on #215
Removed it, still getting the same error.
**'markdown' is not a known element:
1. If 'markdown' is an Angular component, then verify that it is part of this module.
2. To allow any element add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this component.**

[2020-03-21 09:31] dudipsh opened #216 "export delta object to "markdown""
Hey,
I have this delta object
its possible to get a markdown string from it?

[code]

something like this

[code]

[2020-03-23 10:57] Abhishek-Prasad-017 opened #217 "Is span supported ?? eg - <span style=“color:green;”> text goes here</span>"
I want to colour some part of the text as blue. I am not able to do that with "span" html tag. Do you have any other alternative to colour text in your markdown library ??

[2020-03-23 11:18] jfcere commented on #217
HTML is valid and should appear correctly, but some attributes such as `style` might be removed if `sanitize` is set to its default value which is `SecurityContext.HTML`.

This is an issue opened in Angular: https://github.com/angular/angular/issues/19645

The best alternative is to use CSS classes to style your HTML, see this following StackBlitz: https://stackblitz.com/edit/ngx-markdown-issue-21

[2020-03-23 11:24] jfcere commented on #216
Hi @dudipsh,

It currently doesn't support this kind of parsing.
Do you know any library that does this that could be integrated in ngx-markdown?

[2020-03-23 11:27] jfcere commented on #215
I'm not sure what is the problem exactly... but I would also try not re-exporting back `MarkdownModule` in `product-details-mobile.module.ts` for the science!

[2020-03-23 15:45] dudipsh commented on #216
@jfcere
Yes this work for me
https://github.com/dudipsh/quill-delta-to-markdown
result look like this
`{
text: "**bold**↵underline↵👍↵"
}`

### bold
underline
👍

[2020-03-24 13:07] JakobSegerslatt commented on #210
Thumbs up this issue. I've been trying to solve how to get this package to work with angular cli's serve.
In production, angular cli uses differential loading which transpiles our libraries to a es5 bundle for all our ie11 users (as far as i know). But when working locally, the serve command produces one build, in this case the es5 build, but doesn't transpile node_modules. With optimization = fal

[2020-03-26 07:12] #216 closed

[2020-03-26 11:11] jfcere commented on #216
Were you able to use the mentioned library to parse your delta object and then use the result in a variable using `[data]` input property on markdown component?

[2020-03-26 12:38] dudipsh commented on #216
yes, but I had to add this code to the library
To a file called "formDelta.js"
i need to push this changes
#### formDelta.js
[code]

### my.component
[code]

[2020-03-29 23:12] jfcere commented on #217
Closing the issue, if you feel like the last post does not answer your question feel free to reply and I'll reopen if needed.

[2020-03-29 23:12] #217 closed

[2020-03-30 19:44] dudipsh opened #218 "How to use "Mention""
I am looking for the way to incorporate @mention with markdown
for example : @dudi or <@dudi>

It would be great if you can help me locate this within your package
and if for any reason you don't support this at the moment, I would be very thankful if you can direct me to a way were i can solve this issue.

thanks in advance

[2020-03-31 19:24] NiNJAD3vel0per opened #219 "^9.0.0: not assignable to type 'MarkedOptions'"
"ngx-markdown": "^9.0.0",
"marked": "^0.8.2",

[code]

[code]

I read about breaking changes. So, just remove that error lines? no side-effect?

[2020-03-31 19:46] jfcere commented on #219
Hi @NiNJAD3vel0per,

Yes you are right, as specified in the [v9.0.0 Change Log](https://github.com/jfcere/ngx-markdown/releases/tag/v9.0.0) concerning the two properties reporting an error:

- `tables` is now automatically enable when `gfm` is enabled (set to `true`)
- `sanitize` has been deprecated by marked.js, therefore it is not part of `MarkedOptions` anymore but instead have been replace by

[2020-04-01 18:36] #218 closed

[2020-04-01 18:57] jfcere commented on #218
Hi @dudipsh,

I just saw your issue, @mention is not supported and is not part of markdown spec but something implemented in GitHub and other applications. It requires to have access to a list of users and desired behavior such as link-to, popover, etc that is really more an implementation choice than a specification.

[2020-04-07 21:20] drandell commented on #210
This issue (and more specifically the final comment) - https://github.com/markedjs/marked/issues/1630
Would suggest they are working on the necessary fix

[2020-04-09 01:48] YAGAMIL opened #220 "引入依赖后启动报An accessor cannot be declared in an ambient context."
使用了npm install ngx-markdown --save来导入，启动过程中抛出异常，看了你demo里lib的markdown。component.d.ts以declare声明了class，而demo里的源码则是在lib下为普通class
ERROR in node_modules/ngx-markdown/src/markdown.component.d.ts:9:9 - error TS1086: An accessor cannot be declared in an ambient context.

9     get katex(): boolean;
[code]
node_modules/ngx-markdown/src/markdown.component.d.ts:12:9 - error TS1086: An accessor cannot be decla

[2020-04-09 05:39] caelinsutch opened #221 "Generic Type argument to MarkdownModule"
ERROR in node_modules/ngx-markdown/src/markdown.module.d.ts:9:24 - error NG6005: MarkdownModule.forChild returns a ModuleWithProviders type without a generic type argument. Please add a generic type argument to the ModuleWithProviders type. If this occurrence is in library code you don't control, please contact the library authors.

Angular 9 now required generic type arguments.

[2020-04-09 05:44] caelinsutch commented on #221
My apologies, I restarted and the error went away...

[2020-04-09 05:44] #221 closed

[2020-04-09 22:40] jfcere commented on #220
Hi @YAGAMIL,

Can you provide a repository that reproduce the problem you're mentioning?

[2020-04-10 03:00] ingun37 commented on #205
I wrote an article [Stop using $ as delimiter for Tex in Markdown](https://dev.to/ingun37/stop-using-dollar-sign-as-delimiter-for-tex-24bf) about that `$` makes bad delimiter for Tex in Markdown. The arguments in the article is, in a nutshell, we should stop using `$` or `$$` because:
* Tex itself uses `$` as delimiter for nested Tex
* `$` or any other single special character is used frequently i

[2020-04-10 14:38] jfcere commented on #219
Closing the issue, if you feel the previous post doesn't answer your question feel free to reply and I'll reopen it if necessary.

[2020-04-10 14:38] #219 closed

[2020-04-13 00:13] Nox-404 commented on #220
Hello,
Ran into the same problem w/ angular 8 project

[2020-04-13 00:17] Nox-404 commented on #220
Revert to 8.2.2 solved it for me

[2020-04-13 01:25] YAGAMIL commented on #220
非常感谢您的答复，我通过降级ngx-markdown已经解决了问题，或者升级angular版本至9.0
Thank you very much for your reply，I've solved the problem by downgrading ngx-markdown or upgrading the angular version to 9.0

[2020-04-13 14:57] jfcere commented on #220
I red that this is related to the Typescript version used by Angular 9 when compiling the library. That's make ngx-markdown v9.0.0 incompatible with Angular 8...

I wasn't expecting that!

[2020-04-13 15:08] jfcere commented on #215
@harshitraghav as a follow-up, have you resolved the issue?

[2020-04-13 15:10] jfcere commented on #210
@drandell thanks for the info, that's good news! I'll keep a eye on the future marked.js release.

[2020-04-14 07:54] YAGAMIL commented on #220
这些问题我已经解决，但我还想问一下您，这个ngx-markdown的编辑页面可不可以有这样的工具栏，或者插入图片的方案
I have solved these problems, but I also want to ask you, can this edit page of ngx-markdown have such a toolbar, or a program for inserting pictures

![image](https://user-images.githubusercontent.com/16757285/79199467-a3058280-7e67-11ea-842b-68dad202638a.png)

另外是否可以设置解析markdown图片时的最大尺寸来显示图片，因为这直接解析的时候完全超出了我的也买你大小，类似于这样
In addition whet

[2020-04-14 08:05] YAGAMIL commented on #220
![image](https://user-images.githubusercontent.com/16757285/79200207-a8170180-7e68-11ea-97d7-d623cf57a349.png)
在图片很大的时候如何限制它的最大尺寸
How to limit the maximum size of a picture when it is large？
![image](https://user-images.githubusercontent.com/16757285/79200346-e01e4480-7e68-11ea-8c6b-42760674eb60.png)
是否可以在编辑mardown的时候显示帮助工具栏
Can I display the help toolbar while editing mardown

![image](https://us

[2020-04-21 12:04] jfcere commented on #215
Closing since there was no follow-up and this doesn't seems like a library related issue but something in your project.

If you can provide a reproduction repository or give me access to your private repository so I can have a look I can reopen the issue otherwise there is not much I can do to help.

[2020-04-21 12:04] #215 closed

[2020-04-21 13:18] snakone opened #222 "Question: Does renderer doesn't work anymore? v9.0.0"
I had a working custom `<a>` to render target="_blank" on links to open them in a new browser tab

Today i found out this isn't working anymore. I updated my whole project from Angular 8.x.x and ngx-markdown 8.2.2 to Angular 9.x.x and ngx-markdown 9.0.0

Code:

[code]

Then I import `NgMarkdownModule` in my core module. This was working on the early versions of Angular and ngx-markdown, even i can

[2020-04-21 13:32] jfcere commented on #222
Hi @snakone,

I haven't seen your previous configuration regarding the `sanitizer` option in `MarkedOptions` but in ngx-markdown v8.x.x the sanitization was disabled by default.

As of ngx-markdown v9.x.x the sanitization is now enabled by default and is using Angular `DomSanitizer`. Therefor the `target="_blank"` is striped by Angular sanitizer as it is vulnerable to XSS.

If you have control ove

[2020-04-21 13:42] jfcere commented on #222
### 💡 Quick note about your code...

You don't need to use both `useValue` and `useFactory` when providing `MarkedOptions` but just the one that matches your need and in your case only the `useFactory` will be needed:

[code]

[2020-04-21 14:00] snakone commented on #222
i really appreciate your quick response, that was it, many thanks

[code]

[2020-04-21 14:02] jfcere commented on #222
You're welcome 👍

[2020-04-21 14:18] #222 closed

[2020-04-28 12:52] t-kaufmann opened #223 "Remove copy to clipboard button"
I imported ngx-markdown in my Angular 9 application and it's working fine. While the code highlighting works fine aswell, I can't find a way to remove the copy to clipboard button (or atleast change the styling so it fits to the rest of the application)

![image](https://user-images.githubusercontent.com/34220946/80489277-e11e9e00-895f-11ea-85c9-5d561c38c7a2.png)

Code:
`<markdown ngPreserveWhites

[2020-04-28 23:44] jfcere commented on #223
Hi @t-kaufmann,

I'm wondering how you've been able to make a _copy_ button appear?
Although this is on the road-map, it is not a supported feature in ngx-markdown yet.

[2020-04-29 00:06] t-kaufmann commented on #223
Sorry, it appeared to be an issue with prismJS. I imported the copy-to-clipboard plugin in a different component and it seemed to interfere with the markdown codehightlighting.

[2020-04-29 00:06] #223 closed

[2020-04-29 12:01] vesivagu opened #224 "ngx-markdown 9.0.0 with Angular 9.1.0 supports IE11?"

[2020-04-29 13:06] jfcere commented on #224
Hi @vesivagu,

The issue as already been raised, please feel free to follow or contribute on #210.

[2020-04-29 13:06] #224 closed

[2020-04-30 11:17] ShadowmourneE opened #225 "Opening link in new tab"
now if markdown contains link after clicking it opens in existing tab. not in new. Is it possible to add target="_blank" to <a> tag?

[2020-04-30 12:16] jfcere commented on #225
Hi @ShadowmourneE,

This is a duplicated question that was already answered in https://github.com/jfcere/ngx-markdown/issues/79

To summarize, opening in a new tab is not part of Markdown specs therefore not part of ngx-markdown but there are available workarounds (see the issue linked above).

[2020-04-30 12:23] #225 closed

[2020-05-02 13:15] ameernuri opened #226 "Support for an editor"
Is there support for markdown editor, similar to https://cipchk.github.io/ngx-simplemde/

[2020-05-05 22:55] drandell commented on #210
@jfcere looks like we have a fix in place with https://github.com/markedjs/marked/pull/1661

Just waiting for release ☺️

[2020-05-07 09:48] gvlekke commented on #220
also have the problem while upgrading from angular 8 to 9

[2020-05-07 11:15] jfcere commented on #220
Hi @gvlekke,

You've got to make sure you are using corresponding versions of ngx-markdown and Angular:
- ngx-markdown 8.x.x with angular 8.x.x
- ngx-markdown 9.x.x with angular 9.x.x

If it is the case and you still encounter the issue try deleting the `node_modules` folder and reinstall.

[2020-05-07 12:52] JanEggers opened #227 "relative links are broken when using src"
<markdown [src]=./sub/sample.md ></markdown>

sample.md contains a link to ./img.png

when rendering this in http://some.com/ the md tries to fetch http://some.com/img.png instead of http://some.com/sub/img.png.

from my point of view it would be perfect if the library could handle this behavior on its own.
if that is not possible it should at least enable me to provide the base uri for each compo

[2020-05-07 13:00] JanEggers commented on #227
looks like dupe of #149 somehow but my usecase is different the md itself can be loaded fine but the context for content is wrong

[2020-05-08 05:20] Abhishek-Prasad-017 opened #229 "Tables are not showing borders"
Hi Jfcere !!!
I am using your markdown library to write tables, but I cannot see borders around it when the markdown code renders.

[2020-05-08 10:03] edoardoo commented on #194
Just to add more context, when using
[code]

The output is:
[code]

Which is semantically wrong and uglier to style.

[2020-05-08 10:12] edoardoo commented on #194
@jfcere Surely adding the inline parameter is an option, but as far as I can imagine using markdown on an angular app, I'd prefer to have this setting system wide.
I don't know what the average use of the library is, personally I basically use it to fill components.
Imaging to add  `{ unwrap: true }`  every time I use the markdown pipe is awful.
I guess that adding the parameter to the `markedOpti

[2020-05-08 12:53] jfcere commented on #229
Hi @Abhishek-Prasad-017,

Yes, this is on purpose. By default there is no styling applied to tables or blockquote HTML elments so that it doesn't interfere with any styling library such Bootstrap.

The same question was asked a few time ago: https://github.com/jfcere/ngx-markdown/issues/202, maybe I should add some documentation about it on the README.md to avoid confusion.

[2020-05-08 13:52] jfcere commented on #194
@edoardoo the code I posted above was just idea that has not been implemented yet.

Having a global configuration to enable "inline" styling is a good idea when the implementation will be done.

I can't really talk for everyone but we are using ngx-markdown at work and I would believe the average use of the library is the component itself or the directive.

Following your provided example:

[code]

[2020-05-08 16:06] Mesaman commented on #125
Hi I recently had a similar problem with scrolling to the right position on page load because the markdown component was not fully loaded when the rest of the page already was.

Thanks @jfcere for the solution provided above. You wrote there:

Exactly that was my problem. I could not find the correct lifecycle hook to scroll to the markdown element due to loading the content from an external .md f

[2020-05-09 23:19] Simon-TheHelpfulCat commented on #125
I got to the point this afternoon where I had to tackle this and inspired by the answers above, I got to this, which is working for me.

First provide a custom Renderer:
[code]
This is passed into the renderer options in ```MarkdownModule.forRoot()``` as usual.

The second part of the solution is a directive to post-process the output of the component or directive:
[code]
As shown, the renderer do

[2020-05-11 11:11] jfcere commented on #226
Hi @ameernuri,

There is no editor right now but this could be a good plugin addition, i'll leave this as enhancement. Don't hold your breath though, I don't have lots of time on my hands these days and there are still a few improvements to do with higher priorities.

[2020-05-12 15:12] ameernuri commented on #226
Thanks @jfcere I'm currently using a hacky simplemde but it's too limited and inconsistent. I'll try to implement one when I get a chance too

[2020-05-14 02:23] caiofcm commented on #45
This works:

[code]

[2020-05-14 04:50] caiofcm commented on #196
Isn't @ingun37 suggestion of `/\$([^$]+?)\$/gm` enough? Or just: `/\$(.*?)\$/gm`

At least `ng test` passed all here and it is rendering for my use case (inside static markdown). I am not familiar with katex or regex, so I dont know if I am missing something here. The multi-line wasn't working anyway.

[2020-05-14 08:48] mkloar opened #230 "Call custom component function in a link click"
Hello guys.

Is it possible to call a custom component function when the link is clicked? After I clicked on the link it doesn't do anything.

My module:

[code]

My html template in component:

[code]

My component:

[code]

[2020-05-17 00:27] jfcere commented on #229
Closing since there is nothing to fix, if you feel that the last post doesn't answer your question don't hesitate to reply.

[2020-05-17 00:27] #229 closed

[2020-05-18 13:57] #166 closed

[2020-05-18 14:06] #210 closed

[2020-05-18 14:25] jfcere commented on #210
I've updated marked to v1.1.0 which is meant to fix this issue https://github.com/markedjs/marked/issues/1630.

Please update ngx-markdown to [v9.1.0](https://github.com/jfcere/ngx-markdown/releases/tag/v9.1.0) and give me some feedback.

[2020-05-18 14:26] jfcere commented on #166
Emoji support for shortnames has been added in [v9.1.0](https://github.com/jfcere/ngx-markdown/releases/tag/v9.1.0)

[2020-05-19 10:19] Simon-TheHelpfulCat opened #233 "Emoji directive doesn't compile as documented with strict template type checking enabled"
I have a project that uses:
[code]
I added ```emoji``` to the my templates alongside the existing markdown directives and got:
[code]
I fixed this by using ```[emoji]="true"``` and everything works fine, but it's a bit messy and should at least be documented.

I believe that you should be able to fix this by changing [markdown.component.ts lines 36-38](https://github.com/jfcere/ngx-markdown/blob/m

[2020-05-19 10:58] jfcere commented on #233
Hi @Simon-TheHelpfulCat,

Thanks for reporting the issue, I was able to reproduce the problem when adding `"strictTemplates": true` to the angular compiler options.

I'll fix it tonight and publish a patch release.

[2020-05-20 00:20] #233 closed

[2020-05-20 00:31] jfcere commented on #233
Fix has been released, you can update ngx-markdown to [v9.1.1](https://github.com/jfcere/ngx-markdown/releases/tag/v9.1.1)

[2020-05-22 17:20] KautskyLozanoV opened #236 "Unable to override tokenizer"
I'd like to override the link tokenizer to allow a new syntax for links. This would be an internal link so I'd provide a custom value for href. As for the [marked documentation](https://marked.js.org/#/USING_PRO.md#tokenizer) I should be able to do it like this:
[code]
Returning false will call the default implementation.
I can't get this to work. [Here ](https://stackblitz.com/edit/ngx-markdown-h

[2020-05-23 00:24] dragonpaw opened #237 "Demo link now shows a blank browser window."
Clicking on your demo link https://jfcere.github.io/ngx-markdown/, I get an empty window. (And the console has the error: `SyntaxError: invalid regexp group main-es2015.676facb72fd1e8739cae.js:1:1`

[2020-05-23 00:32] jfcere commented on #237
What browser are you using?

I noticed this on IE and old Edge version although it works find on Chrome and Edge Chromium, I'm going to fix it this weekend.

[2020-05-23 08:53] dragonpaw commented on #237
Latest version of Firefox.

On Fri, May 22, 2020 at 5:33 PM Jean-Francois Cere <notifications@github.com>
wrote:

[2020-05-23 11:39] jfcere commented on #237
Ok, thanks.

The problem is related to the fact I use lookbehind in regular expression for Prism language extension in the demo that is apparently not supported by browsers other than Chrome. I'll have to rework them.

[2020-05-25 02:15] #237 closed

[2020-05-25 20:33] muuvmuuv commented on #122
I have used `ChangeDetectorRef` to run after I have made changes to my markdown string. Maybe it helps.

[code]

[2020-05-27 06:09] fxck opened #239 "marked import instead of adding to scripts?"
I've been looking at this https://github.com/markedjs/marked/pull/1563 shouldn't it now be possible to simply import marked?

[2020-05-27 12:09] lymims opened #240 "How can I change the indent size of list?"
I want to display markdown on phone, but when displaying the list in a small screen device, The blank is too large.

like this:

![image](https://user-images.githubusercontent.com/9443706/83016772-1698d300-a055-11ea-83dc-6095d9e0afb7.png)

Is there any solution to solve it?

[2020-05-27 12:58] jfcere commented on #240
Hi @lymims,

There is no styling applied by default with ngx-markdown, the indent you see is either the browser default styling or the styling framework used (such as Bootstrap).

You can apply the value you want to the `ul` and `li` HTML tags in your CSS file.

[2020-05-27 14:27] lymims commented on #240
Thank you @jfcere , this is a pretty good solution.

[2020-05-27 14:27] #240 closed

[2020-05-29 16:26] alyx-brett commented on #205
Hi there,

When you're looking at Katex, _please_ consider replacing
[code]
with just
[code]

From reading the documentation I'd expect KaTeX to work as intended, and if I'm enabling it then I'm happy to take responsibility for escaping $ in the rest of my work. The way I encounter the results of this regex are really frustrating: especially that `$A$` doesn't match it so I'm having to wrap my stu

[2020-06-10 01:25] GDAndres98 commented on #196
Hi, is this bug fixed in version 9.1.1?

[2020-06-10 11:43] jfcere commented on #196
Hi @GDAndres98,

Not yet, the conversation kind of been moved here: https://github.com/jfcere/ngx-markdown/issues/205.

This is probably going to be the next thing on my list since it's been a request for a while.

[2020-06-11 05:14] jorgjanke opened #242 "Universal Prerender src"
Objective: generate html via Universal Prerender

When inlining the markup like
[code]
the prerender correctly generates the HTML code.

When using the src reference
[code]
the referenced file is not generated.

The app.server.module.ts imports contains
[code]

Any suggestion how to 'motivate' the Universal prerender to process the file?
https://github.com/angular/universal/tree/master/modules/bui

[2020-06-15 14:01] jfcere commented on #236
Hi @KautskyLozanoV,

`tokenizer` is not currently exposed by ngx-markdown as it is not part of `MarkedOptions`. This would definitively be a good addition so I'll tag this as enhancement and see what it would take to do so and the same time I'll try to expose the `lexer` since it is also not exposed and could benefit library consumers.

[2020-06-15 14:03] jfcere commented on #239
HI @fxck,

Yes your right, it should be possible to import marked now instead of including the whole bundle file.

[2020-06-15 14:06] jfcere commented on #242
Hi @jorgjanke,

I am not too familiar with universal, I would have to dig a little about how to handle http requests with universal but I don't see how loading a remote file with ngx-markdown would differ from any other HTTP request...

If you are able to provide a basic reproduction repository that uses universal with ngx-markdown that could accelerate the investigation. And of course any insight

[2020-06-15 14:17] jfcere commented on #227
Hi @JanEggers,

I know its been a while you submitted the PR, I should be able to take a look soon, just have a lot to deal with lately.

[2020-06-15 14:22] jfcere commented on #230
Hi @mkloar,

No it is not currently possible because rendering of markdown is done at runtime and would require to include all the angular compiler when packaging (only available with JIT) so that I could compile the angular code inside the markdown.

I had great expectation with Ivy but I haven't seen so far any way to compile angular code at runtime but I haven't spend to much time searching for

[2020-06-15 14:24] jfcere commented on #220
Closing this issue, please try to keep one question by issue... there were way to many things asked here that it gets hard to follow.

@YAGAMIL for any question that you feel was not answered please open a new issue.

[2020-06-15 14:24] #220 closed

[2020-06-15 15:11] mkloar commented on #230
@jfcere I actually solve this problem pretty easily. I've added click event listener to the div which is responsible for markdown and in my angular component I just check which part of the markdown was clicked.

**Angular template**:
[code]

**Angular component**:
[code]

[2020-06-16 03:53] jorgjanke commented on #242
Hi Jean-Francois,

Universal is working for us, although the plain **prerender** is on their TODO list - so they suggest using the express server (which defeats the purpose of a serverless client)

The current **prerender** functionally obviously cannot handle async calls (maybe/hopefully that is one of the open tasks).

We are working around that limitation by loading the *.md files as content in

[2020-06-16 03:53] #242 closed

[2020-06-19 19:04] caenguidanos opened #243 "Katex render & to amp;"
I'm trying to use matrix in Katex like

[code]

The output is:

`(a amp; b c amp; d)`

Thanks,

[2020-06-19 23:27] cenguidanos commented on #243
I don't know how to do testing @jfcere , but, if you replace in **lib/src/markdown.service.ts**  in **line 94** this:

`return html.replace(/\$([^\s][^$]*?[^\s])\$/gm, (_, tex) => katex.renderToString(tex, options));`

to:

```return html.replace(/&amp;/gm, "&").replace(/( \\ )+/gm, " \\\\ ").replace(/\$([^\s][^$]*?[^\s])\$/gm, (_, tex) => katex.renderToString(tex, options));```

You solve the pro

[2020-06-21 23:23] cenguidanos commented on #243
Katex will crazy and confused with some characters and we have to replace it, one form:

**markdown.service.ts line 94**

[code]

[2020-06-23 08:08] aershov24 opened #245 "Question: Lazy load images in markdown?"
Hi guys, just wonder is there any way we can lay load images in the rendered markdown text? So in my markdown I store images like `<img>` tag:

[code]

Could we tell to lazy load the `<img src="">` somehow?

[2020-06-23 10:47] jfcere commented on #243
Hi @cenguidanos,

Sorry for the delay, I was in vacation! The `MarkdownService` already have a `decodeHtml` method that should fix the issue, I'll see if this solves the problem... I'll keep you posted.

[2020-06-23 10:56] cenguidanos commented on #245
Maybe create a directive with Intersection Observer API, it's a good point.

[2020-06-23 11:03] jfcere commented on #245
Hi @aershov24,

No lazy-loading of images is not supported by Markdown specs therefore not supported by ngx-markdown. As @cenguidanos said you could create a directive for when the viewport reaches the element containing the image tag but that would need to be handle on your side.

If it can help, I answered a similar question on StackOverflow one year ago. It's about creating a directive that tel

[2020-06-23 11:23] jfcere commented on #230
@mkloar glad you found a workaround for your needs 👍

Closing this since there are already other issues related to binding Angular component methods to rendered HTML.

[2020-06-23 11:23] #230 closed

[2020-06-25 08:38] qortex opened #246 "Support Angular v10 / tslib2"
After migrating to Angular v10:
[code]

[2020-06-25 11:03] jfcere commented on #246
Hi @qortex,

Angular 10 came out yesterday, I'll update the library tonight or tomorrow.

[2020-06-27 14:21] jfcere commented on #246
As a follow-up, I started working on the migration but it's taking longer than expected due to Typescript 3.9.

It should be completed during the weekend.

[2020-07-01 01:17] #246 closed

[2020-07-01 01:41] jfcere commented on #246
Library has been updated to Angular 10, please update ngx-markdown to [v10.0.0](https://github.com/jfcere/ngx-markdown/releases/tag/v10.0.0).

If you encounter any issue with the new version don't hesitate to create a new issue.

[2020-07-01 01:46] #245 closed

[2020-07-07 06:51] NilsMinor opened #248 "How to create a ToC"
Hi,

I am using your awesome markdown viewer in my application. I want to create a table of content on the sidebar of my application. How can I achieve this with ngx-markdown or do I need to use an other library for this?

Best regards,
Nils

[2020-07-07 11:14] jfcere commented on #248
Hi @NilsMinor,

Assuming you want to generate a _Table of Content_ dynamically based on headings generated by the markdown, the idea is to wait for the markdown to be parsed and use `querySelectorAll` to target the headings you want in the _ToC_ and then iterate on the result with `*ngFor` in your template to generate the links.

You can refer to this issue which is this issue: https://github.com/

[2020-07-07 14:54] NilsMinor commented on #248
Thanks for feedback, worked for me :)

[2020-07-07 14:54] #248 closed

[2020-07-13 01:20] mikegibbs706 commented on #243
#
![team-chat-loading-screen](https://user-images.githubusercontent.com/67981703/87261746-b3cc9100-c474-11ea-8c05-248205628fb8.png)

[2020-07-13 14:41] Fedejp commented on #175
I think I have the same issue here. I need to be able to dinamically render markdown or not depending on a condition. Something like:
`if(supportsBold) {
     return '<b> some text </b>' // actually renders bold text
} else {
     return '** some text **' // won't even override markdown chars
}`
But without disabling the rest of the renderer (I.E, Italics should be always rendered, no matter `supp

[2020-07-16 02:19] simeyla commented on #56
You can also do this and use the markdown pipe:

     <div [innerHTML]="myPageMarkdown | markdown"></div>

The 'evil encapsulator' doesn't get a change to run on the InnerHTML - it just gets dumped into the DOM and no need to mess with your component's encapsulation.

So if `myPageMarkdown = '### Hello world';`

then

   h3 { color: red; }

would style it :-)

@jfcere You may want to add this unde

[2020-07-16 03:15] simeyla commented on #56
Here's a proof of concept of my idea from last year.

You can get the name of your component's encapsulation attribute like this:

        // private renderer: Renderer2
        const div = this.renderer.createElement('div');
        this.encapsulationAttributeName = div.attributes[0].name;

Then a magical regex:

    encapsulateMarkdown(markdown: string)
    {
        let html = this.markdownServ

[2020-07-21 13:33] qortex opened #252 "10.1.0 breaks my build - scss loader issue with sass import"
The following SCSS code no longer compiles when updated to 10.1.0 (no issue when `ngx-markdown is at 10.0.0` and everything the same otherwise):
[code]

I now get the error at compile:
[code]

I'm at lost as to why this would occur. Any idea?

Code seems valid to me according to [this page](https://sass-lang.com/documentation/modules).

[2020-07-21 14:45] jfcere commented on #252
Ho @qortex,

That's odd since the only changes in 10.1.0 are dependency updates for both Emoji-Toolkit and Katex.

[2020-07-21 14:59] qortex commented on #252
yeah weird, I guess that's something with a scss/sass loader dependency that got updated and has a bug?
I'll try to put something together. I'll let a few days pass and will check back later, it might get fixed upstream in the dependencies if it affects other people too.

[2020-07-21 15:03] jfcere commented on #252
Strange thing is that the demo use SCSS with theming mixins and seems ok.

[2020-07-21 15:18] qortex commented on #252
Yeah, I guess it's specifically linked to the `@use 'sass:color';` bit.

[2020-07-23 08:59] tachojelev opened #253 "Heading tags are missing the id attribute in version 10.x"
### Description

Hello, I upgraded my project to Angular 10 and with it the ngx-markdown version from "**~8.1.0**" to "**~10.0.0"**.
After the upgrade, the parsed heading elements no longer had an id attribute set on them, which causes our anchor tags not to be able to navigate to them.

For example:
[code]

The parsed heading is:
[code]

This was working fine prior the upgrade. You assistance wil

[2020-07-23 12:51] jfcere commented on #253
Hi @tachojelev,

This is due to DOM sanitizer that is enabled by default as of ngx-markdown v9.0.0, you can refer to #211 for more information on this and how to disable it to resolve your issue.

[2020-07-24 11:56] jfcere commented on #253
Closing, don't hesitate to reply if the previous post doesn't resolve your issue.

[2020-07-24 11:56] #253 closed

[2020-07-27 17:47] robjtede commented on #252
This is affecting my project too and I understand this is an oddity and seem weird to be related to ngx-markdown specifically.

The key observation, from my investigation, is that it seems sass-loader is preferring `node-sass` now but that has been provoked by this package dependency update of `emoji-toolkit` through `ngx-markdown`. Note that the sass-loader version is unchanged.

Before v10 upgra